@model EventDetails;
@{
    var card = ViewData["card"] as Speaker;
}

<section id="hero" class="hero-section bg-ga-2020-empty bg-cover window-height light-text">
    <div class="heading-block-card centered-block align-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <img src=@($"/img/ga-2020/cards/card-{card?.Id}.jpg") alt="@card?.Name" class="img-responsive" style="box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5)">
                </div>
                <div class="col-sm-1"></div>
            </div>
            
            <div class="btns-container">
                <!-- <a href="https://www.meetup.com/azureheads/events/237850213/" class="btn btn-md">GET TICKETS</a> -->
                <ul>
                    <li>
                        <a class="btn btn-md btn-lg-size btn-green" target="_blank" href="/">More Info</a>
                        <a class="btn btn-md btn-lg-size" target="_blank" href="https://www.eventbrite.com/e/global-azure-bootcamp-2020-athens-tickets-90175518403">GET TICKETS</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
