
<section id="schedule" class="section schedule-section align-center">
    <div class="container">
        <span class="icon section-icon icon-office-21"></span>
        <h3>Schedule</h3>
        <p class="text-alt">Vast number of different speeches<br /> and <span class="highlight">activities</span></p>
        <br />
        <br />
        <!-- Schedule start -->
        <div class="schedule">
            <!-- Navigation by day start -->
            <ul class="nav nav-schedule">
                <li class="active"><a href="#day1" data-toggle="tab"><h5 class="highlight">Schedule</h5><p class="text-alt">25 Apr 2020</p></a></li>
            </ul>
            <!-- Navigation by day end -->
            <!-- First level content start -->
            <div class="tab-content">
                <!-- Day 1 content start -->
                <div id="day1" class="tab-pane fade active in">
                    <!-- Navigation by auditorium start -->
                    <ul class="nav nav-schedule">
                        <li class="active"><a href="#day1_auditorium1" data-toggle="tab">Coming Soon</a></li>
                            @* <li><a href="#day1_auditorium2" data-toggle="tab">Gazarte 2</a></li> *@
                            @*<li><a href="#day1_auditorium3" data-toggle="tab">ΦΟΥΡΝΟΙ</a></li>*@
                    </ul>
                    <!-- Navigation by auditorium start -->
                    <div class="tab-content tab-content-schedule">
                        <p>More info comming soon.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
