@model EventDetails

<section id="schedule" class="section schedule-section align-center">
    <div class="container">
        <span class="icon section-icon icon-office-21"></span>
        <h3>Schedule</h3>
        <p class="text-alt">Vast number of different speeches<br/> and <span class="highlight">activities</span></p>
        <br/>
        <br/>
        <div class="schedule">

            <ul class="nav nav-schedule">
                <li class="active">
                    <a href="#day1" data-toggle="tab">
                        <h5 class="highlight">Schedule</h5>
                        <p class="text-alt">25 Apr 2020</p>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="day1" class="tab-pane fade active in">
                    <!-- Navigation by auditorium start -->
                    <ul class="nav nav-schedule">
                        <li class="active">
                            <a href="#day1_auditorium1" data-toggle="tab">Slot A</a>
                        </li>
                        <li>
                            <a href="#day1_auditorium2" data-toggle="tab">Slot B</a>
                        </li>
                        <li>
                            <a href="#day1_auditorium3" data-toggle="tab">Slot C</a>
                        </li>
                    </ul>
                    <div class="tab-content tab-content-schedule">
                        @{
                            await Html.RenderPartialAsync("~/Views/Partial/ScheduleSlot.cshtml", Model.Schedule.SlotA, new ViewDataDictionary(ViewData) {{"section", "day1_auditorium1"}});
                            await Html.RenderPartialAsync("~/Views/Partial/ScheduleSlot.cshtml", Model.Schedule.SlotB, new ViewDataDictionary(ViewData) {{"section", "day1_auditorium2"}});
                            await Html.RenderPartialAsync("~/Views/Partial/ScheduleSlot.cshtml", Model.Schedule.SlotC, new ViewDataDictionary(ViewData) {{"section", "day1_auditorium3"}});
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>