<section id="speakers" class="section align-center">
    <div class="container">
        <span class="icon section-icon icon-faces-users-04"></span>
        <h3>Speakers</h3>
        @*<p class="text-alt">Call for <a href="https://sessionize.com/global-azure-2020-athens/"><span class="highlight">content</span></a></p>*@
        <br />
        <br />
        @*<div class="row">
                <div class="col-md-12">
                    <a class="btn btn-md btn-lg-size btn-blue" target="_blank" href="https://sessionize.com/global-azure-2020-athens/">Call for Speakers</a>
                </div>
            </div>*@
        <div class="row">
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded">
                        <img src="~/img/speakers/speaker-pantelis-apostolidis-new.jpg" width="200" height="200" alt="Pantelis Apostolidis" class="img-responsive">
                    </div>
                    <h3 class="name">Pantelis Apostolidis</h3>
                    <p class="text-alt">
                        <small>Sr. Solutions Architect @@ Office Line SA | Microsoft Azure MVP</small>
                    </p>
                    <p class="about">
                        Passionate about information technology, Pantelis is a Solutions Architect at Office Line SA & a Microsoft Azure MVP. For the last 10 years, Pantelis has been involved to major cloud projects in Greece & abroad. He is an author, blogger & a spokesperson | Moderator of the azureheads.gr & autoexec.gr communities | Husband | DAD
                    </p>
                    <ul class="speaker-socials">
                        <li><a href="http://www.e-apostolidis.gr/"><span class="fa fa-globe"></span></a></li>
                        <li><a href="https://www.facebook.com/pantelis.apostolidis"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="https://www.linkedin.com/in/papostolidis/"><span class="fa fa-linkedin"></span></a></li>
                        <li><a href="https://twitter.com/papostolidis"><span class="fa fa-twitter"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="~/img/speakers/speaker-paris-polyzos-4.jpg" width="200" height="200" alt="Paris Polyzos" class="img-responsive"></div>
                    <h3 class="name">Paris Polyzos</h3>
                    <p class="text-alt"><small>Senior Software Engineer / Microsoft Azure MVP</small></p>
                    <p class="about">Paris is a Senior Software Engineer and a Microsoft Azure MVP. He holds an MSc in Electical & Computer Engineering; he is passionate about the Web, Microsoft Technologies and the cloud!</p>
                    <ul class="speaker-socials">
                        <li><a href="https://ppolyzos.com"><span class="fa fa-globe"></span></a></li>
                        <li><a href="https://www.facebook.com/ppolyzos"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="https://twitter.com/ppolyzos"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="https://linkedin.com/in/ppolyzos"><span class="fa fa-linkedin"></span></a></li>
                        <li><a href="https://github.com/ppolyzos"><span class="fa fa-github"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="~/img/speakers/speaker-kostas-pantos.jpg" width="200" height="200" alt="Konstantinos Pantos" class="img-responsive"></div>
                    <h3 class="name">Konstantinos Pantos</h3>
                    <p class="text-alt"><small>Cloud Solutions Architect @@ Microsoft</small></p>
                    <p class="about">Since 2001, when I started my professional career, I was given the opportunity to work with some of the largest Greek Software development Companies and worked with cutting edge Microsoft technologies. Nowadays I work as a Solutions Architect for Microsoft where I focus in providing innovative cloud solutions.</p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.facebook.com/konstantinos.pantos"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="https://twitter.com/kpantos"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="https://www.linkedin.com/in/konstantinospantos"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="~/img/speakers/speaker-chatzipavlis-bw.jpg" width="200" height="200" alt="Nasos Loukas" class="img-responsive"></div>
                    <h3 class="name">Antonios Chatzipavlis</h3>
                    <p class="text-alt">
                        <small>
                            Data Solutions Consultant
                            Trainer | MVP on Data Platform | MCT, MCSE, MCITP, MCPD, MCSD, MCDBA, MCSA, MCTS, MCAD, MCP, OCA, ITIL-F
                        </small>
                    </p>
                    <p class="about">
                        Antonios is a Data Solutions Architect and Trainer. He has been working in IT since 1988. In his career, he has worked as senior developer, IT Manager, Software Architect and IT Consultant.
                        Since 1995 he has been devoted on new technologies and software development tools, mainly by Microsoft, either by training company staff and colleagues (he has been a Microsoft Certified Trainer since 2000) or assisting them in design, development and implementation as a consultant or chief developer.
                        <a data-toggle="collapse" href="#speakers-chatzipavlis" class="schedule-item-toggle collapsed">
                            show more...
                        </a>
                        <span id="speakers-chatzipavlis" class="panel-collapse collapse schedule-item-body">
                            <span class="description">
                                He focused in Databases and Data Science since 2000. He specialized in Microsoft SQL Server since version 6.0 in areas like SQL Server Internals, Database Design and Development, Business Intelligence and in 2010 he has started working with Azure Data Platform, NoSQL databases, Big Data Technologies and Machine Learning. He is an active member in many IT communities in Greece, answering colleagues' questions and writing articles in his web site.
                                He focused in Databases and Data Science since 2000. He specialized in Microsoft SQL Server since version 6.0 in areas like SQL Server Internals, Database Design and Development, Business Intelligence and in 2010 he has started working with Azure Data Platform, NoSQL databases, Big Data Technologies and Machine Learning. He is an active member in many IT communities in Greece, answering colleagues' questions and writing articles in his web site.
                                He is the owner of SQLschool.gr which is a community portal with a lot of information about Microsoft SQL Server.
                                Microsoft honored him as MVP on Data Platform due to his activities in Microsoft Data Platform.
                                He holds a large number of Microsoft Certifications and Microsoft SQL Server Certifications since version 6.5.
                            </span>
                        </span>

                    </p>
                    <ul class="speaker-socials">
                        <li><a href="http://www.sqlschool.gr/"><span class="fa fa-globe"></span></a></li>
                        <li><a href="https://www.facebook.com/achatzipavlis"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="https://twitter.com/antoniosch"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="https://www.linkedin.com/in/achatzipavlis"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="~/img/speakers/speaker-vaggelis-kappas.jpg" width="200" height="200" alt="Vaggelis Kappas" class="img-responsive"></div>
                    <h3 class="name">Vaggelis Kappas</h3>
                    <p class="text-alt"><small>Solution Specialist for Azure Apps & Infra @@ Microsoft</small></p>
                    <p class="about">
                        Microsoft Solution Specialist for Azure Applications and Infrastructure, that is helping enterprise customers to realize the benefits and value of Cloud.
                        Administrative member and moderator of autoexec.gr. Frequent speaker on technology events organized by the major IT communities in Greece, such as autoexec.gr and azureheads.gr. Proud husband and dad.
                    </p>
                    <ul class="speaker-socials">
                        <li><a href="http://www.autoexec.gr"><span class="fa fa-globe"></span></a></li>
                        <li><a href="https://www.facebook.com/vaggelis.kappas.37"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="https://www.linkedin.com/in/vkappas"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded">
                        <img src="~/img/speakers/speaker-georgia-kalyva.jpg" width="200" height="200" alt="Pantelis Apostolidis" class="img-responsive">
                    </div>
                    <h3 class="name">Georgia Kalyva</h3>
                    <p class="text-alt">
                        <small>Microsoft AI MVP, Web Applications Developer, B.Sc, MSP, MCP</small>
                    </p>
                    <p class="about">
                        Georgia Kalyva has graduated from the University of Piraeus, is a Microsoft AI MVP with years of experience in software engineering and is currently working for ITT as Web Applications Developer. She is passionate about AI and Azure and has represented Greece in global competitions in Technology and Entrepreneurship. She is a member of the Microsoft Student Partners team and has taken over the role of mentor in several Microsoft competitions and trainings.
                    </p>
                    <ul class="speaker-socials">
                        <li><a href="https://codestories.gr/"><span class="fa fa-globe"></span></a></li>
                        <li><a href="https://github.com/georgiakalyva/"><span class="fa fa-github"></span></a></li>
                        <li><a href="https://twitter.com/GeorgiaKalyva/"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="http://facebook.com/pages/codestoriesgr/"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="https://www.linkedin.com/in/georgiakalyva/"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded">
                        <img src="~/img/speakers/speaker-giorgo-kavvalakis.jpg" width="200" height="200" alt="Giorgos Kavvalakis" class="img-responsive">
                    </div>
                    <h3 class="name">Giorgos Kavvalakis</h3>
                    <p class="text-alt">
                        <small>
                            Risk Management & Security Architect @@ BNP Paribas Fortis.
                            Top100 Leaders in Global Healthcare 2019, BSc, MSc, MCSA, interoperability influencer, Azure Solutions Architect</small>
                    </p>
                    <p class="about">
                        George has more than 20 years of experience in the IT industry where he started working as a Systems and Network Engineer since 1998. He has worked for global firms like Robert Bosch SA and he was the sole Greek representative in the global Microsoft-Robert Bosch summit at the age of 20.
                        <a data-toggle="collapse" href="#speakers-kavvalakis" class="schedule-item-toggle collapsed">
                            show more...
                        </a>
                        <span id="speakers-kavvalakis" class="panel-collapse collapse schedule-item-body">
                            <span class="description">
                                In 2008, while working for Vamvas Group of companies, he took the role of IT Manager and two years later he was promoted to Chief Information Officer for the group. In 2019 he was awarded as one of the Top 100 Leaders in Global Healthcare for his work, his innovative solutions and his contribution in global healthcare. He was one out of two CIOs that received this award. His achievement led to numerous proposals and thus he made his next step. He currently works as Risk Management Officer and Security Architect for BNP Paribas Fortis in Brussels. He is an active member of Azureheads.gr and moderator of Autoexec.gr and he is passionate with technology. Pen-tester hobbyist, Gamer, Entrepreneur, Speaker.
                            </span>
                        </span>
                    </p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.linkedin.com/in/georgeblackman/"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="~/img/speakers/speaker-michail-angelos-haggar.jpg" width="200" height="200" alt="Michail Angelos Haggar" class="img-responsive"></div>
                    <h3 class="name">Michail Angelos Haggar</h3>
                    <p class="text-alt"><small>Technology Solutions Professional @@ Microsoft</small></p>
                    <p class="about">
                        Michael is a Technical Specialist at Microsoft for Central and Eastern Europe specialized in Cybersecurity. He has 13 years’ experience and is passionate about Microsoft Technologies. His focus is to bring modern cloud-powered solutions to organizations and help them achieve more.
                    </p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.linkedin.com/in/michael-angelo-haggar/"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded">
                        <img src="~/img/speakers/speaker-george-markou.jpg" width="200" height="200" alt="George Markou" class="img-responsive">
                    </div>
                    <h3 class="name">George Markou</h3>
                    <p class="text-alt">
                        <small>George Markou | CDM MVP | Technical Trainer</small>
                    </p>
                    <p class="about">
                        George Markou is a Technical Lead for Cloud & Infrastructure technologies at Bewise, Microsoft CDM MVP and a Technical Trainer. George is all about the software defined datacenter and the Hybrid Cloud, mainly focused in Microsoft Technologies. He is currently based in the south frontier of Europe, Greece. When he is not glued to his PC, he seeks to explore other Countries, spent his free time with friends and family and parenting his Persian Cat.
                    </p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.linkedin.com/in/george-markou-06111617/"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded">
                        <img src="~/img/speakers/speaker-george-grammatikos.jpg" width="200" height="200" alt="George Grammatikos" class="img-responsive">
                    </div>
                    <h3 class="name">George Grammatikos</h3>
                    <p class="text-alt">
                        <small>Azure Architect @@ Tisski ltd. | Microsoft Azure MVP</small>
                    </p>
                    <p class="about">
                        George has more than 10 years of experience in different technologies like Azure services, servers, networks, security solutions, etc. He is the cloudopszone.com founder and one of the moderators of the Microsoft Wiki community.
                    </p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.linkedin.com/in/george-chrysovalantis-grammatikos-1163758a/"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded">
                        <img src="~/img/speakers/speaker-dimitris-pantazis.jpg" width="200" height="200" alt="Dimitris Pantazis" class="img-responsive">
                    </div>
                    <h3 class="name">Dimitris Pantazis</h3>
                    <p class="text-alt">
                        <small>Senior Engineer @@ UniSystems | MCSE, Azure Associate</small>
                    </p>
                    <p class="about">
                        Dimitris is a Senior Engineer at UniSystems, focusing on Microsoft technologies such as Windows Server, Exchange Server as well as Azure and Office 365. In the past 10 years he has worked for several companies both in Greece and abroad. One of his passions is to automate IT operations and inspire others to do so.
                    </p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.linkedin.com/in/dpantaz/"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded">
                        <img src="~/img/speakers/speaker-dimitris-fintzos.jpg" width="200" height="200" alt="Dimitris Fintzos" class="img-responsive">
                    </div>
                    <h3 class="name">Dimitris Fintzos</h3>
                    <p class="text-alt">
                        <small>Senior Systems Engineer @@ Oriflame Software | MCSE, Azure Solutions Architect</small>
                    </p>
                    <p class="about">
                        Experienced Senior Systems Engineer with a demonstrated history of working in the computer software and outsourcing industry. Skilled in Hyper-V, Azure, Windows Server, VMware and a strong understanding of Citrix and Networking. Currently working with AKS, Azure Automation and Logic apps.
                    </p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.linkedin.com/in/dfintzos/"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="speaker">
                <div class="photo-wrapper rounded">
                    <img src="~/img/speakers/speaker-vassilis-ioannidis.jpg" width="200" height="200" alt="Vassilis Ioannidis" class="img-responsive">
                </div>
                <h3 class="name">Vassilis Ioannidis</h3>
                <p class="text-alt">
                    <small>Technical Manager @@ incadea | Azure Solutions Architect | Trainer </small>
                </p>
                <p class="about">
                    Vassilis Ioannidis is a Lead Technical Consultant and a seasoned Microsoft SQL Server expert, working at incadea group, and is in the IT industry for more than 2 decades. Vassilis has a degree in Computer Programming, has numerous Microsoft certifications since 2000 and has been a Microsoft Certified Trainer since 2005.
                    <a data-toggle="collapse" href="#speakers-ioannidis" class="schedule-item-toggle collapsed">
                        show more...
                    </a>
                    <span id="speakers-ioannidis" class="panel-collapse collapse schedule-item-body">
                        <span class="description">
                            The past 4 years he is working closely with clients, in projects that span across the globe, to move workloads on Microsoft Azure and modernize client solutions on-premises and/or the cloud. Vassilis is a community enthusiast and speaker in many events. Result-driven and a lifelong learner.
                        </span>
                    </span>
                </p>
                <ul class="speaker-socials">
                    <li><a href="https://sqltattoo.com"><span class="fa fa-globe"></span></a></li>
                    <li><a href="https://github.com/SQLtattoo"><span class="fa fa-github"></span></a></li>
                    <li><a href="https://twitter.com/sqltattoo"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="https://www.linkedin.com/in/vassilis-ioannidis/"><span class="fa fa-linkedin"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="speaker">
                <div class="photo-wrapper rounded">
                    <img src="~/img/speakers/speaker-yanni-touliatos.jpg" width="200" height="200" alt="Yianni Touliatos" class="img-responsive">
                </div>
                <h3 class="name">Yianni Touliatos</h3>
                <p class="text-alt">
                    <small>Regional Director, Technical Sales for CEE @@ Microsoft</small>
                </p>
                <p class="about">
                    As Regional Technical Sales Director, Yianni Touliatos is leading a team of Cloud Solution Architects and Technical Specialists in a 28 country region in CEE for Microsoft.  His prior role was as a Cloud Solution Architect also in the CEE region working with Partners. Yianni has a background of more than 20 years of experience in systems engineering and consulting.
                    <a data-toggle="collapse" href="#speakers-touliatos" class="schedule-item-toggle collapsed">
                        show more...
                    </a>
                    <span id="speakers-touliatos" class="panel-collapse collapse schedule-item-body">
                        <span class="description">
                            Since 2003 he has been primarily focused on hosting and cloud computing and has advised service providers all over the world. Prior to joining Microsoft, Yianni was the managing director of Nimateks, a systems integrator. Yianni and his team worked closely with Citrix and with the Microsoft Hosting and Cloud solutions team designing multi-tenant IaaS and SaaS platforms and executing implementation and migration projects for hosting companies.
                        </span>
                    </span>
                </p>
                <ul class="speaker-socials">
                    <li><a href="https://www.linkedin.com/in/yiannitouliatos/"><span class="fa fa-linkedin"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="speaker">
                <div class="photo-wrapper rounded"><img src="~/img/speakers/speaker-nikos-antoniou.jpg" width="200" height="200" alt="Nikos Antoniou" class="img-responsive"></div>
                <h3 class="name">Nikolaos Antoniou</h3>
                <p class="text-alt"><small>Azure App/Dev Specialist @@Microsoft</small></p>
                <p class="about">
                    Passionate about software engineering in the cloud era, avid coder, casual gamer and amateur cyclist. On a mission to help companies achieve more through strategic employment of Azure technologies.
                </p>
                <ul class="speaker-socials">
                    <li><a href="https://www.linkedin.com/in/nikolaos-antoniou/"><span class="fa fa-linkedin"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="speaker">
                <div class="photo-wrapper rounded"><img src="~/img/speakers/speaker-george-spyrou.jpg" width="200" height="200" alt="George Spyrou" class="img-responsive"></div>
                <h3 class="name">George Spyrou</h3>
                <p class="text-alt"><small>Software Engineer @@ Intrasoft International S.A.</small></p>
                <p class="about">
                    Software Engineer at Intrasoft International S.A.
                </p>
                <ul class="speaker-socials">
                    <li><a href="https://www.linkedin.com/in/gspyrou/"><span class="fa fa-linkedin"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</section>
