<section id="speakers" class="section align-center">
    <div class="container">
        <span class="icon section-icon icon-faces-users-04"></span>
        <h3>Speakers</h3>
        <p class="text-alt">Call for <a href="https://sessionize.com/global-azure-2020-athens/"><span class="highlight">content</span></a></p>
        <br />
        <br />
     <div class="row">
         <div class="col-md-12">
             <a class="btn btn-md btn-lg-size btn-blue" target="_blank" href="https://sessionize.com/global-azure-2020-athens/">Call for Speakers</a>
         </div>
     </div>
    </div>
</section>
