@model EventDetails

<section id="schedule" class="section schedule-section align-center">
    <div class="container">
        <span class="icon section-icon icon-office-21"></span>
        <h3>Schedule</h3>
        <p class="text-alt">Vast number of different speeches<br/> and <span class="highlight">activities</span></p>
        <br/>
        <br/>
        <div class="schedule">

            <ul class="nav nav-schedule">
                <li class="active">
                    <a href="#day1" data-toggle="tab">
                        <h5 class="highlight">Schedule</h5>
                        <p class="text-alt">@Model.Configuration.DateExt</p>
                    </a>
                </li>
            </ul>
            <div class="tab-content">

                @if (!Model.State.ShowSessions)
                {
                    <p class="text-alt p-2">Coming <span class="highlight">soon...</span></p>
                }

                @if (!Model.State.ShowSessions)
                {
                    <div id="day1" class="tab-pane fade active in">
                        <!-- Navigation by auditorium start -->
                        <ul class="nav nav-schedule">
                            @foreach (var (index, slot) in Model.Schedule.Slots.Select((session, i) => (i, session)))
                            {
                                <li class="@(index == 0 ? "active" : string.Empty)">
                                    <a href="@($"#day1_auditorium{index + 1}")" data-toggle="tab">@slot.Key</a>
                                </li>
                            }
                        </ul>
                        <div class="tab-content tab-content-schedule">
                            @foreach (var (index, slot) in Model.Schedule.Slots.Select((session, i) => (i, session)))
                            {
                                await Html.RenderPartialAsync("~/Views/Partial/ScheduleSlot.cshtml", slot.Value, new ViewDataDictionary(ViewData)
                                {
                                    { "index", index },
                                    { "section", $"day1_auditorium{index + 1}" }
                                });
                            }
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>