@model EventDetails

<section id="about" class="section align-center">
    <div class="container">
        <span class="icon section-icon icon-multimedia-12"></span>
        <h3>@Model.Configuration.Name</h3>
        <p class="text-alt">
            One day event where everyone, <span class="highlight">globally</span>, talks about the expanding universe of Microsoft Azure!
        </p>
        <br/>
        <br/>

        <div class="tabs-wrapper tabs-horizontal">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#horizontal_tab1" data-toggle="tab">
                        <h6 class="heading-alt"><span class="fa fa-code"></span> General info</h6>
                    </a>
                </li>
                @*<li>
                    <a href="#horizontal_tab2" data-toggle="tab">
                        <h6 class="heading-alt"><span class="fa fa-rocket"></span> Workshops</h6>
                    </a>
                </li>
                <li>
                    <a href="#horizontal_tab3" data-toggle="tab">
                        <h6 class="heading-alt"><span class="fa fa-external-link"></span> Sponsor info</h6>
                    </a>
                </li>*@
            </ul>

            <div class="tab-content">
                <div id="horizontal_tab1" class="tab-pane fade active in">
                    <div class="col-sm-5 img-column">
                        <img src="img/ga/mark-russinovich.jpg" alt="" class="img-responsive"/>
                    </div>
                    <div class="col-sm-7 align-left">
                        <h6>@Model.Configuration.Name</h6>
                        <p>
                            <strong>Welcome to @Model.Configuration.Name!</strong> In @Model.Configuration.DateExt, all communities will come together once again in the seventh great Global Azure event! Each user group organizes their own one to three day Azure event the way they see fit and how it works for their members. The result is that thousands of people will get together to learn about Azure and join together online under the social media hashtag! Around the world user groups and communities want to learn about Azure and Cloud Computing!
                        </p>
                        <h6>A Community of Communities!</h6>
                        <p>Learning about Azure is a massive undertaking for anyone. The Azure Cloud Platform is really big and offers a very long list of great services. How do you get a grip on it all? Together!</p>
                        <h6>Who should sign up!</h6>
                        <ul>
                            <li>Anyone wanting to learn about Azure and cloud computing.</li>
                        </ul>
                    </div>
                </div>

                <div id="horizontal_tab2" class="tab-pane fade">
                    <div class="col-sm-7 align-left">

                        <h6>Deep Dive Sessions</h6>
                        <p>
                            One full day of <strong>deep dive</strong> sessions on Azure for Developers and IT Pro's delivered by the experts to get you started on complex topics like Azure Ap Services, IoT, Machine Learning, Cognitive Services, Containers and a lot more.
                        </p>
                        <p>
                            Have questions, need to discuss your technical issues, or looking for some advise, do attend to speak to the experts.
                        </p>
                        <ul>
                            <li>More coming soon.</li>
                        </ul>
                    </div>

                    <div class="col-sm-5 img-column">
                        <img src="img/backgrounds/cloud-workshop.jpg" alt="" class="img-responsive"/>
                    </div>
                </div>

                <div id="horizontal_tab3" class="tab-pane fade">
                    <div class="col-sm-5 img-column">
                        <img src="img/backgrounds/sponsor-icon.jpg" alt="" class="img-responsive"/>
                    </div>
                    <div class="col-sm-7 align-left">
                        <h6>Sponsors apply</h6>
                        <p>
                            Interesting in sponsoring? Read our <a href="~/files/AzureBootcamp2018_Sponsorship.pdf">guide</a>
                            or <a href="mailto:me@ppolyzos.com">contact us</a> for further details.
                        </p>
                        <img src="img/sponsors/sponsorship-levels.png"/>
                        @*<p>The sponsorship levels are:</p>
                        <h6>Basic</h6>
                        <ul>
                            <li>Banner at event venue.</li>
                            <li>Digital exposure.</li>
                            <li>Mentioned during the event opening.</li>
                        </ul>
                        <h6>Plus</h6>
                        <p>All exposure that sponsors get plus:</p>
                        <ul>
                            <li>Banner placed behind the podium, extra exposure in photos and videos.</li>
                            <li>Premium digital exposure, plus logo placed in Group’s photo.</li>
                            <li>Stand placed at the venue that can be used for promotional material etc.</li>
                            <li>No-conflict guarantee for sponsors.</li>
                            <li>Presentation done by a representative about the company, during the event. (upon availability)</li>
                        </ul>*@
                        @*<ul>
                            <li>Nisl cras vitae wisi odio amet.</li>
                            <li>Lacus amet vestibulum belas</li>
                            <li>Quis nunc curabitur assumenda</li>
                        </ul>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>