<section id="find-us" class="section align-center" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <span class="icon section-icon icon-documents-bookmarks-12"></span>
        <h3>Find Us</h3>
        @*<p class="text-alt">Technopolis <span class="highlight">Innovathens</span></p>*@
        @* <p class="text-alt">More info <span class="highlight">Coming Soon</span></p> *@
        <p class="text-alt">More info <a href="https://www.gazarte.gr/en/" target="_blank"><span class="highlight">Gazarte</span></a></p>
        <br/>
        <br/>

        <div class="sponsors">
            @*<div class="sponsor inline" style="padding-left: 30px;"><a href="https://goo.gl/vffW6M" target="_blank"><img src="~/img/sponsors/innovathens-map.jpg" alt="innovathens"></a></div>*@
            <div class="sponsor inline" style="padding-left: 30px;"><a href="https://www.gazarte.gr/en/" target="_blank"><img src="~/img/sponsors/sponsor-gazarte.jpg" alt="Gazarte"></a></div>
            @*<div class="sponsor inline"><img src="img/sponsors/sponsor1.png" alt=""></div>*@
        </div>


        @*<div class="sponsors">
            <div class="sponsor inline"><img src="img/sponsors/sponsor9.png" alt=""></div>
            <div class="sponsor inline"><img src="img/sponsors/sponsor10.png" alt=""></div>
            <div class="sponsor inline"><img src="img/sponsors/sponsor1.png" alt=""></div>
            <div class="sponsor inline"><img src="img/sponsors/sponsor2.png" alt=""></div>
            <div class="sponsor inline"><img src="img/sponsors/sponsor3.png" alt=""></div>
            <div class="sponsor inline"><img src="img/sponsors/sponsor4.png" alt=""></div>
        </div>
        <div class="sponsors">
            <div class="sponsor inline"><img src="img/sponsors/sponsor5.png" alt=""></div>
            <div class="sponsor inline"><img src="img/sponsors/sponsor6.png" alt=""></div>
            <div class="sponsor inline"><img src="img/sponsors/sponsor7.png" alt=""></div>
            <div class="sponsor inline"><img src="img/sponsors/sponsor3.png" alt=""></div>
        </div>*@

    </div>
</section>