<section id="communities" class="section align-center">
    <div class="container">
        <span class="icon section-icon icon-documents-bookmarks-12"></span>
        <h3>Communities</h3>
        <p class="text-alt">Communities <span class="highlight">involved</span></p>
        <br />
        <br />

        <div class="sponsors">
            <div class="sponsor big"><a href="http://www.azureheads.gr" target="_blank"><img src="img/communities/azureheads.jpg" alt="azureheads.gr"></a></div>
             <div class="sponsor big"><a href="http://www.autoexec.gr" target="_blank"><img src="img/communities/autoexec.jpg" alt="autoexec.gr"></a></div>
            <div class="sponsor big"><a href="http://www.sqlschool.gr" target="_blank"><img src="img/communities/sqlschool.png" alt="sqlschool.gr"></a></div>
            @*<div class="sponsor big"><a href="http://www.dotnetzone.gr" target="_blank"><img src="~/img/communities/dotnetzone.png" alt="dotnetzone.gr"></a></div>*@ 
            @*<div class="sponsor big"><img src="img/sponsors/microsoft.png" alt=""></div>
                <div class="sponsor big"><img src="img/sponsors/jetbrains.jpg" alt=""></div>*@
        </div>
        @*<div class="sponsors">
                <div class="sponsor inline"><img src="img/sponsors/sponsor9.png" alt=""></div>
                <div class="sponsor inline"><img src="img/sponsors/sponsor10.png" alt=""></div>
                <div class="sponsor inline"><img src="img/sponsors/sponsor1.png" alt=""></div>
                <div class="sponsor inline"><img src="img/sponsors/sponsor2.png" alt=""></div>
                <div class="sponsor inline"><img src="img/sponsors/sponsor3.png" alt=""></div>
                <div class="sponsor inline"><img src="img/sponsors/sponsor4.png" alt=""></div>
            </div>
            <div class="sponsors">
                <div class="sponsor inline"><img src="img/sponsors/sponsor5.png" alt=""></div>
                <div class="sponsor inline"><img src="img/sponsors/sponsor6.png" alt=""></div>
                <div class="sponsor inline"><img src="img/sponsors/sponsor7.png" alt=""></div>
                <div class="sponsor inline"><img src="img/sponsors/sponsor3.png" alt=""></div>
            </div>*@

    </div>
</section>