
<section id="schedule" class="section schedule-section align-center">
    <div class="container">
        <span class="icon section-icon icon-office-21"></span>
        <h3>Schedule</h3>
        <p class="text-alt">Vast number of different speeches<br /> and <span class="highlight">activities</span></p>
        <br />
        <br />
        <!-- Schedule start -->
        <div class="schedule">
            <!-- Navigation by day start -->
            <ul class="nav nav-schedule">
                <li class="active"><a href="#day1" data-toggle="tab"><h5 class="highlight">Schedule</h5><p class="text-alt">21 April 2018</p></a></li>
            </ul>
            <!-- Navigation by day end -->
            <!-- First level content start -->
            <div class="tab-content">
                <!-- Day 1 content start -->
                <div id="day1" class="tab-pane fade active in">
                    <!-- Navigation by auditorium start -->
                    <ul class="nav nav-schedule">
                        <li class="active"><a href="#day1_auditorium1" data-toggle="tab">Innovathens</a></li>
                        <li><a href="#day1_auditorium2" data-toggle="tab">ΔΕΞΑΜΕΝΕΣ</a></li>
                        <li><a href="#day1_auditorium3" data-toggle="tab">ΦΟΥΡΝΟΙ</a></li>
                    </ul>
                    <!-- Navigation by auditorium start -->
                    <!-- Second level content start -->
                    <div class="tab-content tab-content-schedule">
                        <!-- Auditorium 1 content start -->
                        <div id="day1_auditorium1" class="tab-pane fade active in">
                            <!-- Accordion start -->
                            <div class="panel-group" id="day1_auditorium1_timeline">
                                <!-- Lecture start -->
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-building-o"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time1" class="schedule-item-toggle">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>09:30 - 10:00</strong>
                                        <h6 class="title">Registration<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                </div>
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-building-o"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time2" class="schedule-item-toggle">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>10:00 - 10:45</strong>
                                        <h6 class="title">Welcome keynote<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-paris-polyzos.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time3" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>11:00 - 11:45</strong>
                                        <h6 class="title">Azure Application Insights<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium1_time3" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            @*<p class="description"></p>*@
                                            <strong class="highlight speaker-name">Paris Polyzos</strong>
                                        </article>
                                    </div>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-michail-angelos-haggar.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time4" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>12:00 - 12:45</strong>
                                        <h6 class="title">Investigating data breaches using Windows Defender ATP<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium1_time4" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            @*<p class="description"></p>*@
                                            <strong class="highlight speaker-name">Michail Angelos Haggar</strong>
                                        </article>
                                    </div>
                                </div>


                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-coffee"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time5" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>12:35-13:45</strong>
                                        <h6 class="title">Lunch Break<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-panos-macheras.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time6" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>13:45 - 14:30</strong>
                                        <h6 class="title">Azure Infrastructure as a Service – everything you need to know<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium1_time6" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            @*<p class="description"></p>*@
                                            <strong class="highlight speaker-name">Panos Macheras</strong>
                                        </article>
                                    </div>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-kostas-pantos.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time7" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>14:45 - 15:30</strong>
                                        <h6 class="title">From 0 to k8s in 45'<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium1_time7" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            @*<p class="description"></p>*@
                                            <strong class="highlight speaker-name">Kostas Pantos</strong>
                                        </article>
                                    </div>
                                </div>
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-konstantinos-demiris.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time8" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>15:45 - 16:30</strong>
                                        <h6 class="title">Automated code flows on Azure<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium1_time8" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            @*<p class="description"></p>*@
                                            <strong class="highlight speaker-name">Konstantinos Demiris</strong>
                                        </article>
                                    </div>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-konstantinos-boutsioulis.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time9" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>16:45 - 17:30</strong>
                                        <h6 class="title">SharePoint 2016 Installation In Azure<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium1_time9" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            @*<p class="description"></p>*@
                                            <strong class="highlight speaker-name">Konstantinos Boutsioulis | Michalis Nikolaidis</strong>
                                        </article>
                                    </div>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-gift"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time10" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>17:30 - 18:00</strong>
                                        <h6 class="title">Closing / Gifts<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                </div>
                            </div>
                            <!-- Accordion end -->
                        </div>
                        <div id="day1_auditorium2" class="tab-pane fade in">
                            <!-- Accordion start -->
                            <div class="panel-group" id="day1_auditorium2_timeline">
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-building-o"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium2_timeline" href="#day1_auditorium2_time1" class="schedule-item-toggle">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>09:30 - 10:00</strong>
                                        <h6 class="title">Registration<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                </div>
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-building-o"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium2_timeline" href="#day1_auditorium2_time2" class="schedule-item-toggle">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>10:00 - 10:45</strong>
                                        <h6 class="title">Welcome keynote<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                </div>
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-vaggelis-kappas.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium2_time3" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>11:00 - 11:45</strong>
                                        <h6 class="title">Implement a secure and well-managed strategy for your Azure resources<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium2_time3" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            @*<p class="description"></p>*@
                                            <strong class="highlight speaker-name">Vaggelis Kappas</strong>
                                        </article>
                                    </div>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-vangelis-kapsalakis.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium2_time4" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>12:00 - 12:45</strong>
                                        <h6 class="title">Can't touch this!<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium2_time4" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            @*<p class="description"></p>*@
                                            <strong class="highlight speaker-name">Vangelis Kapsalakis</strong>
                                        </article>
                                    </div>
                                </div>


                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-coffee"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium2_time5" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>12:35-13:45</strong>
                                        <h6 class="title">Lunch Break<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-chatzipavlis-bw.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium2_time6" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>13:45 - 14:30</strong>
                                        <h6 class="title">Azure SQL Database for the SQL Server DBA<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium2_time6" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            @*<p class="description"></p>*@
                                            <strong class="highlight speaker-name">Antonios Chatzipavlis</strong>
                                        </article>
                                    </div>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-christos-siamentzas.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium2_time7" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>14:45 - 15:30</strong>
                                        <h6 class="title">Azure SQL Data Warehouse<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium2_time7" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            @*<p class="description"></p>*@
                                            <strong class="highlight speaker-name">Christos Siamentzas</strong>
                                        </article>
                                    </div>
                                </div>
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-Dimitris-Ilias-gkanatsios.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium2_time8" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>15:45 - 16:30</strong>
                                        <h6 class="title">Scaling stateful containerized workloads on Azure<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium2_time8" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            @*<p class="description"></p>*@
                                            <strong class="highlight speaker-name">Dimitris-Ilias Gkanatsios</strong>
                                        </article>
                                    </div>
                                </div>
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-george-markou.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium2_time9" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>16:45 - 17:30</strong>
                                        <h6 class="title">Leveraging Azure Services with Windows Admin Center<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium2_time9" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            @*<p class="description"></p>*@
                                            <strong class="highlight speaker-name">George Markou</strong>
                                        </article>
                                    </div>
                                </div>
                            </div>
                            <!-- Accordion end -->
                        </div>


                        <div id="day1_auditorium3" class="tab-pane fade in">
                            <!-- Accordion start -->
                            <div class="panel-group" id="day1_auditorium3_timeline">
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-building-o"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium2_timeline" href="#day1_auditorium3_time1" class="schedule-item-toggle">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>09:30 - 10:00</strong>
                                        <h6 class="title">Registration<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                </div>
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-building-o"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium2_timeline" href="#day1_auditorium3_time2" class="schedule-item-toggle">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>10:00 - 10:45</strong>
                                        <h6 class="title">Welcome keynote<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-pantelis-apostolidis.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium3_time3" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>11:00 - 11:45</strong>
                                        <h6 class="title">Azure PaaS: Elasticity, Resiliency and High Availability for your apps<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium3_time3" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            @*<p class="description"></p>*@
                                            <strong class="highlight speaker-name">Pantelis Apostolidis</strong>
                                        </article>
                                    </div>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-elias-solomonidis.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium3_time4" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>12:00 - 12:45</strong>
                                        <h6 class="title">Microsoft CRM on Azure<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium3_time4" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            @*<p class="description"></p>*@
                                            <strong class="highlight speaker-name">Elias Solomonidis</strong>
                                        </article>
                                    </div>
                                </div>


                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-coffee"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium3_time5" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>12:35-13:45</strong>
                                        <h6 class="title">Lunch Break<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-michalis-nikolaidis.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium3_time6" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>13:45 - 14:30</strong>
                                        <h6 class="title">Deploying an ASP.NET Core 2.0 Web Application on Microsoft Azure<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium3_time6" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            @*<p class="description"></p>*@
                                            <strong class="highlight speaker-name">Michalis Nikolaidis | Konstantinos Boutsioulis</strong>
                                        </article>
                                    </div>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-panagiotis-kouris.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium3_time7" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>14:45 - 15:30</strong>
                                        <h6 class="title">Azure Success Stories<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium3_time7" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            @*<p class="description"></p>*@
                                            <strong class="highlight speaker-name">Panagiotis Kouris</strong>
                                        </article>
                                    </div>
                                </div>
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-vasillis-makris.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium3_time8" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>15:45 - 16:30</strong>
                                        <h6 class="title">Serverless Architecture with Azure Functions<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium3_time8" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            @*<p class="description"></p>*@
                                            <strong class="highlight speaker-name">Vassileios Makris</strong>
                                        </article>
                                    </div>
                                </div>
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-panagiotis-kagias.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium3_time9" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>16:45 - 17:30</strong>
                                        <h6 class="title">Azure WebApps 101<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium3_time9" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            @*<p class="description"></p>*@
                                            <strong class="highlight speaker-name">Panagiotis Kagias</strong>
                                        </article>
                                    </div>
                                </div>
                            </div>
                            <!-- Accordion end -->
                        </div>
                    </div>
                    <!-- Second level content end -->
                </div>
                <!-- Day 1 content end -->
            </div>
            <!-- First level content end -->
        </div>
        <!-- Schedule end -->
    </div>
</section>