
<section id="schedule" class="section schedule-section align-center">
    <div class="container">
        <span class="icon section-icon icon-office-21"></span>
        <h3>Schedule</h3>
        <p class="text-alt">Vast number of different speeches<br /> and <span class="highlight">activities</span></p>
        <br />
        <br />
        <!-- Schedule start -->
        <div class="schedule">
            <!-- Navigation by day start -->
            <ul class="nav nav-schedule">
                <li class="active"><a href="#day1" data-toggle="tab"><h5 class="highlight">Schedule</h5><p class="text-alt">21 April 2018</p></a></li>
            </ul>
            <!-- Navigation by day end -->
            <!-- First level content start -->
            <div class="tab-content">
                <!-- Day 1 content start -->
                <div id="day1" class="tab-pane fade active in">
                    <!-- Navigation by auditorium start -->
                    <ul class="nav nav-schedule">
                        <li class="active"><a href="#day1_auditorium1" data-toggle="tab">ΔΕΞΑΜΕΝΕΣ</a></li>
                        <li><a href="#day1_auditorium2" data-toggle="tab">Innovathens</a></li>
                        <li><a href="#day1_auditorium3" data-toggle="tab">ΦΟΥΡΝΟΙ</a></li>
                    </ul>
                    <!-- Navigation by auditorium start -->
                    <!-- Second level content start -->
                    <div class="tab-content tab-content-schedule">
                        <!-- Auditorium 1 content start -->
                        <div id="day1_auditorium1" class="tab-pane fade active in">
                            <!-- Accordion start -->
                            <div class="panel-group" id="day1_auditorium1_timeline">
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-building-o"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time1" class="schedule-item-toggle">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>09:30 - 10:00</strong>
                                        <h6 class="title">Registration - ΦΟΥΡΝΟΙ</h6>
                                    </a>
                                </div>
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-building-o"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time2" class="schedule-item-toggle">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>10:00 - 10:45</strong>
                                        <h6 class="title">Welcome keynote<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium1_time2" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            @*<p class="description"></p>*@
                                            <strong class="highlight speaker-name">Konstantinos Pantos, Paris Polyzos, Pantelis Apostolidis</strong>
                                        </article>
                                    </div>
                                </div>
                                
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-paris-polyzos.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium2_timeline" href="#day1_auditorium2_time3" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>11:00 - 11:45</strong>
                                        <h6 class="title">Web App Monitoring & Telemetry with Application Insights<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium2_time3" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            <p class="description">Monitor your live web application. Detect performance anomalies and view powerful analytics tools to help you diagnose issues and to understand what users actually do with your app.</p>
                                            <strong class="highlight speaker-name">Paris Polyzos</strong>
                                        </article>
                                    </div>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-vangelis-kapsalakis.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time4" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>12:00 - 12:45</strong>
                                        <h6 class="title">Can't touch this!<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium1_time4" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            @*<p class="description"></p>*@
                                            <strong class="highlight speaker-name">Vangelis Kapsalakis</strong>
                                        </article>
                                    </div>
                                </div>


                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-coffee"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time5" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>12:35-13:45</strong>
                                        <h6 class="title">Lunch Break<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-chatzipavlis-bw.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time6" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>13:45 - 14:30</strong>
                                        <h6 class="title">Azure SQL Database for the SQL Server DBA<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium1_time6" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            <p class="description">Azure SQL Database is Microsoft's Database as a Service offering. This session will help you take advantage of your existing SQL Server skills and learn about managing, high availability, and performance of this cloud first solution.</p>
                                            <strong class="highlight speaker-name">Antonios Chatzipavlis</strong>
                                        </article>
                                    </div>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-christos-siamentzas.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time7" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>14:45 - 15:30</strong>
                                        <h6 class="title">Azure SQL Data Warehouse<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium1_time7" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            <p class="description">What is Azure SQL Data Warehouse. Differences between traditional data warehouses an Azure data warehouse. Various techniques to bring data into Azure SQL DW. How does SQL Data Warehouse integrate with other Azure services.</p>
                                            <strong class="highlight speaker-name">Christos Siamentzas</strong>
                                        </article>
                                    </div>
                                </div>
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-Dimitris-Ilias-gkanatsios.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time8" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>15:45 - 16:30</strong>
                                        <h6 class="title">Scaling stateful containerized workloads on Azure<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium1_time8" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            <p class="description">Containerization is only for stateless workloads. That's not true! In this session, we'll demonstrate and discuss best practices of using Azure Container Instances and Azure Container Service with Kubernetes to scale stateful workloads on Azure. Demo includes a multiplayer FPS game, so ... gear up!</p>
                                            <strong class="highlight speaker-name">Dimitris-Ilias Gkanatsios</strong>
                                        </article>
                                    </div>
                                </div>
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-george-markou.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time9" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>16:45 - 17:30</strong>
                                        <h6 class="title">Leveraging Azure Services with Windows Admin Center<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium1_time9" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            @*<p class="description"></p>*@
                                            <strong class="highlight speaker-name">George Markou</strong>
                                        </article>
                                    </div>
                                </div>
                            </div>
                            <!-- Accordion end -->
                        </div>
                        <!-- Auditorium 1 content end -->
                        <!-- Auditorium 2 content start -->
                        <div id="day1_auditorium2" class="tab-pane fade in">
                            <!-- Accordion start -->
                            <div class="panel-group" id="day1_auditorium2_timeline">
                                <!-- Lecture start -->
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-building-o"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium2_timeline" href="#day1_auditorium2_time1" class="schedule-item-toggle">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>09:30 - 10:00</strong>
                                        <h6 class="title">Registration - ΦΟΥΡΝΟΙ<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                </div>
                                @*<div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-building-o"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium2_timeline" href="#day1_auditorium2_time2" class="schedule-item-toggle">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>10:00 - 10:45</strong>
                                        <h6 class="title">Welcome keynote<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                </div>*@

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-vaggelis-kappas.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time3" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>11:00 - 11:45</strong>
                                        <h6 class="title">Implement a secure and well-managed strategy for your Azure resources<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium1_time3" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            <p class="description">As you put your resources in Azure, you need to consider how to secure, protect and monitor them. In the past, you needed additional security, backup or monitoring tools to secure and well manage your resources. Not anymore.In this demo-heavy session we are going to see how Azure provides a built-in support to enable a secure and well-managed production VMs.</p>
                                            <strong class="highlight speaker-name">Vaggelis Kappas</strong>
                                        </article>
                                    </div>
                                </div>

                               

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-michail-angelos-haggar.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium2_timeline" href="#day1_auditorium2_time4" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>12:00 - 12:45</strong>
                                        <h6 class="title">Investigating data breaches using Windows Defender ATP<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium2_time4" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            <p class="description">During this session you will learn how to detect and investigate advanced cyber-attacks using Windows Defender ATP. We will talk about RS4-Automated Response capabilities that are currently in Preview and point out the differences between Windows Defender ATP, O365 ATP and Azure ATP.</p>
                                            <strong class="highlight speaker-name">Michail Angelos Haggar</strong>
                                        </article>
                                    </div>
                                </div>


                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-coffee"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium2_timeline" href="#day1_auditorium2_time5" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>12:35-13:45</strong>
                                        <h6 class="title">Lunch Break<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-panos-macheras.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium2_timeline" href="#day1_auditorium2_time6" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>13:45 - 14:30</strong>
                                        <h6 class="title">Azure Infrastructure as a Service – everything you need to know<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium2_time6" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            <p class="description">Ιn this session we will explain the key capabilities of Azure storage, compute and networking. We will outline the type of workloads that can run on Azure IaaS, the available compute options, how to do backup/DR, management, storage configuration, resiliency, scalability and networking, including demos for some of the features. This session is an introduction to Azure IaaS, an update on all new capabilities that are offered today, as well as a roadmap on what is coming in the future.</p>
                                            <strong class="highlight speaker-name">Panos Macheras</strong>
                                        </article>
                                    </div>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-kostas-pantos.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium2_timeline" href="#day1_auditorium2_time7" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>14:45 - 15:30</strong>
                                        <h6 class="title">From 0 to k8s in 45'<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium2_time7" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            <p class="description">Ιn this demo heavy session we will be exploring how to modernize your existing applications to increase performance, scalability and availability. Using data searching queries with Elasticsearch, visualizing data with Kibana, and showing how these technologies can integrate with out ASP.NET core applications and finally how to take advantage of Kubernetes in Azure to deploy our application with confidence in availability and scalability.</p>
                                            <strong class="highlight speaker-name">Kostas Pantos</strong>
                                        </article>
                                    </div>
                                </div>
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-konstantinos-demiris.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium2_timeline" href="#day1_auditorium2_time8" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>15:45 - 16:30</strong>
                                        <h6 class="title">Automated code flows on Azure<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium2_time8" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            <p class="description">We are going to discover an automated CI/CD pipeline built on top of Azure Services. We will utilize exciting tools, services, and technologies in order to create a set-it-and-forget-it flow to integrate and deliver code with confidence.</p>
                                            <strong class="highlight speaker-name">Konstantinos Demiris</strong>
                                        </article>
                                    </div>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-konstantinos-boutsioulis.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium2_timeline" href="#day1_auditorium2_time9" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>16:45 - 17:30</strong>
                                        <h6 class="title">SharePoint 2016 Installation In Azure<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium2_time9" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            @*<p class="description"></p>*@
                                            <strong class="highlight speaker-name">Konstantinos Boutsioulis | Michalis Nikolaidis</strong>
                                        </article>
                                    </div>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-gift"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium2_timeline" href="#day1_auditorium2_time10" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>17:30 - 18:00</strong>
                                        <h6 class="title">Closing / Gifts<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                </div>
                            </div>
                            <!-- Accordion end -->
                        </div>
                        <!-- Auditorium 2 content end -->
                        <!-- Auditorium 3 content start -->
                        <div id="day1_auditorium3" class="tab-pane fade in">
                            <!-- Accordion start -->
                            <div class="panel-group" id="day1_auditorium3_timeline">
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-building-o"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium2_timeline" href="#day1_auditorium3_time1" class="schedule-item-toggle">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>09:30 - 10:00</strong>
                                        <h6 class="title">Registration<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                </div>
                                @*<div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-building-o"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium2_timeline" href="#day1_auditorium3_time2" class="schedule-item-toggle">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>10:00 - 10:45</strong>
                                        <h6 class="title">Welcome keynote<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                </div>*@

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-pantelis-apostolidis.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium3_time3" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>11:00 - 11:45</strong>
                                        <h6 class="title">Azure PaaS: Elasticity, Resiliency and High Availability for your apps<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium3_time3" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            <p class="description">We will see how to have Resilient and Global Available apps using Microsoft Azure PaaS, that will keep alive even after a full Region failure.</p>
                                            <strong class="highlight speaker-name">Pantelis Apostolidis</strong>
                                        </article>
                                    </div>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-elias-solomonidis.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium3_time4" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>12:00 - 12:45</strong>
                                        <h6 class="title">Microsoft CRM on Azure<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium3_time4" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            <p class="description">Presentation of 4 years Project with Microsoft CRM self-hosted on Microsoft Azure VM servers. Challenges, integration with other web services, ease of use, accessibility to stakeholders.</p>
                                            <strong class="highlight speaker-name">Elias Solomonidis</strong>
                                        </article>
                                    </div>
                                </div>


                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-coffee"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium3_time5" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>12:35-13:45</strong>
                                        <h6 class="title">Lunch Break<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-michalis-nikolaidis.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium3_time6" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>13:45 - 14:30</strong>
                                        <h6 class="title">Deploying an ASP.NET Core 2.0 Web Application on Microsoft Azure<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium3_time6" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            @*<p class="description"></p>*@
                                            <strong class="highlight speaker-name">Michalis Nikolaidis | Konstantinos Boutsioulis</strong>
                                        </article>
                                    </div>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-panagiotis-kouris.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium3_time7" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>14:45 - 15:30</strong>
                                        <h6 class="title">Azure Success Stories<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium3_time7" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            @*<p class="description"></p>*@
                                            <strong class="highlight speaker-name">Panagiotis Kouris</strong>
                                        </article>
                                    </div>
                                </div>
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-vasillis-makris.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium3_time8" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>15:45 - 16:30</strong>
                                        <h6 class="title">Serverless Architecture with Azure Functions<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium3_time8" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            @*<p class="description"></p>*@
                                            <strong class="highlight speaker-name">Vassileios Makris</strong>
                                        </article>
                                    </div>
                                </div>
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-panagiotis-kagias.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium3_time9" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>16:45 - 17:30</strong>
                                        <h6 class="title">Azure Web Apps 101<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium3_time9" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            <p class="description">Let's navigate together though the Azure portal, create a host environment and deploy a Web App within minutes. Zero programming experience is required, just an Azure subscription.</p>
                                            <strong class="highlight speaker-name">Panagiotis Kagias</strong>
                                        </article>
                                    </div>
                                </div>
                            </div>
                            <!-- Accordion end -->
                        </div>
                        <!-- Auditorium 3 content end -->
                    </div>
                    <!-- Second level content end -->
                </div>
                <!-- Day 1 content end -->
            </div>
            <!-- First level content end -->
        </div>
        <!-- Schedule end -->
    </div>
</section>
