
<section id="schedule" class="section schedule-section align-center">
    <div class="container">
        <span class="icon section-icon icon-office-21"></span>
        <h3>Schedule</h3>
        <p class="text-alt">Vast number of different speeches<br /> and <span class="highlight">activities</span></p>
        <br />
        <br />

        <!-- Schedule start -->
        <div class="schedule">

            <!-- Navigation by day start -->
            <ul class="nav nav-schedule">
                <li class="active"><a href="#day1" data-toggle="tab"><h5 class="highlight">Schedule</h5><p class="text-alt">21 April 2018</p></a></li>
            </ul>
            <!-- Navigation by day end -->
            <!-- First level content start -->
            <div class="tab-content">

                <!-- Day 1 content start -->
                <div id="day1" class="tab-pane fade active in">

                    <!-- Navigation by auditorium start -->
                    <ul class="nav nav-schedule">
                        <li class="active"><a href="#day1_auditorium1" data-toggle="tab">Auditorium 1</a></li>
                        <li><a href="#day1_auditorium2" data-toggle="tab">Auditorium 2</a></li>
                        @*<li><a href="#day1_auditorium3" data-toggle="tab">Auditorium 3</a></li>*@
                    </ul>
                    <!-- Navigation by auditorium start -->
                    <!-- Second level content start -->
                    <div class="tab-content tab-content-schedule">

                        <!-- Auditorium 1 content start -->
                        <div id="day1_auditorium1" class="tab-pane fade active in">

                            <!-- Accordion start -->
                            <div class="panel-group" id="day1_auditorium1_timeline">

                                <div class="panel schedule-item">
                                    <p>To be announced soon.</p>
                                </div>

                                <!-- Lecture start -->
                                <!-- <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-building-o"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time1" class="schedule-item-toggle">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>09:00</strong>
                                        <h6 class="title">Registration<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-paris-polyzos.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time2" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>09:30-10:30</strong>
                                        <h6 class="title">Azure Service Fabric: Microservices Architecture made simple<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium1_time2" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            <p class="description">Microservice architecture is a method of developing software applications as a suite of independently deployable, small, modular services in which each service runs a unique process and communicates through a well-defined, lightweight mechanism to serve a business goal. <br />In this talk we will be introduced to Azure Service Fabric, a distributed systems platform that makes it easy to package, deploy and manage scalable and reliable applications composed of microservices.</p>
                                            <strong class="highlight speaker-name">Paris Polyzos</strong>
                                        </article>
                                    </div>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-kostas-pantos.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time3" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>10:30-11:30</strong>
                                        <h6 class="title">Build Container As A Service (CaaS) solutions with Azure Container Service<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium1_time3" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            <p class="description">
                                                Container technologies are changing the way apps are built, deployed and run.
                                                In particular, Docker has grabbed the attention of the industry by simplifying the building and packaging of container apps so they can run anywhere, while bringing added benefits of agility and density. Come to this session and learn how Azure Container Service can make Container Management boring  and can help you deploy, scale, and orchestrate container-based solutions.
                                            </p>
                                            <strong class="highlight speaker-name">Kostas Pantos</strong>
                                        </article>
                                    </div>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-coffee"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time4" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>11:30-11:45</strong>
                                        <h6 class="title">Break<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                </div>

                               
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-vaggelis-kappas.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time5" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>11:45-12:45</strong>
                                        <h6 class="title">Design for scalability and High Availability on Microsoft Azure.<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium1_time5" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            <p class="description">This session focuses on practical architectural guidance for designing highly available, enterprise grade, infrastructure for your applications, using Microsoft Azure (IaaS). Topics include the design of highly available applications in the cloud, increasing the availability of existing applications, and design changes needed for applications that have been through a lift & shift migration.</p>
                                            <strong class="highlight speaker-name">Vangelis Kappas</strong>
                                        </article>
                                    </div>
                                </div>                             
                                
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-vangelis-kapsalakis.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time6" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>12:45-13:45</strong>
                                        <h6 class="title">Hybrid IT - Hybrid Datacenter<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium1_time6" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            <p class="description">Hybrid Datacenter model is the trend that the analyst believe will be the most preferable option for the next 5 years. Are we ready to adopt this trend and what Microsoft Azure offers in order to deliver the efficiency, in our On Premises Datacenter. Can we change our mindset on our daily datacenter operations and integrate Cloud Features on our IT journey. In this session we will discover the Azure Services that can be delivered with a Hybrid configuration and how we can connect the two worlds to achieve more.</p>
                                            <strong class="highlight speaker-name">Vangelis Kapsalakis</strong>
                                        </article>
                                    </div>
                                </div>
                                

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-cutlery"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time7" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>13:45-14:30</strong>
                                        <h6 class="title">Lunch Break<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-chatzipavlis.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time8" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>14:30-15:30</strong>
                                        <h6 class="title">Azure SQL Data Warehouse<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium1_time8" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            <p class="description">Azure SQL Data Warehouse is a fully-managed and scalable cloud service and with this presentation we will discover it.</p>
                                            <strong class="highlight speaker-name">Antonis Chatzipavlis</strong>
                                        </article>
                                    </div>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-christos-charmatzis.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time9" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>15:30-16:30</strong>
                                        <h6 class="title">Data Science with Azure Machine Learning and  R<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium1_time9" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            <p class="description">Introduce data science with focus on Azure ML, R, Jupiter Notebook and  expose full production Analytical Predictive Services using ASP.NET Core.</p>
                                            <strong class="highlight speaker-name">Christos Charmatzis</strong>
                                        </article>
                                    </div>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-coffee"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time10" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>16:30-16:45</strong>
                                        <h6 class="title">Break<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-flask"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time11" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>16:45-18:00</strong>
                                        <h6 class="title">Labs<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                </div>
                                
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-gift"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time12" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>18:00</strong>
                                        <h6 class="title">Closing / Gifts<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                </div> -->

                            </div>
                            <!-- Accordion end -->

                        </div>

                        <div id="day1_auditorium2" class="tab-pane fade in">

                            <!-- Accordion start -->
                            <div class="panel-group" id="day1_auditorium2_timeline">

                                <div class="panel schedule-item">
                                    <p>To be announced soon.</p>
                                </div>
                                <!-- Lecture start -->
                                <!-- <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-chris-spanougakis.jpg" alt="chris spanougakis" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium2_time1" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>09:30-10:30</strong>
                                        <h6 class="title">Azure Active Directory: 5 reasons to implement it today!<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium2_time1" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            <p class="description">Join me for an overview of the capabilities of Azure Active Directory, Microsoft’s Identity and Access management cloud solution (IDaaS). During this session full of demos, we'll see why it is so important to implement it today and modernize your IT infrastructure using Azure AD.</p>
                                            <strong class="highlight speaker-name">Chris Spanougakis</strong>
                                        </article>
                                    </div>
                                </div>
                                
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-george-capnias.jpg" alt="george capnias" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium2_time2" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>10:30-11:30</strong>
                                        <h6 class="title">Web App on Linux Service, First Look<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium2_time2" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            <p class="description">App Service on Linux enables customers to run their web apps natively on a Linux platform. Have a first inside, how Web App Service on Linux allows better application compatibility for certain kinds of applications and makes it easier to migrate existing web apps hosted on a Linux platform elsewhere onto Azure App Services.</p>
                                            <strong class="highlight speaker-name">George Capnias</strong>
                                        </article>
                                    </div>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-coffee"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium2_time3" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>11:30-11:45</strong>
                                        <h6 class="title">Break<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                </div>
                                
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-vasilis-aivalis.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium2_time4" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>11:45-12:30</strong>
                                        <h6 class="title">Azure IoT  - IoT Hub, Device Management and IoT SDK’s<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium2_time4" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            <p class="description">The Internet of Things connects billions of devices, sensors, data and cloud applications. In a short timeframe we will try to experience a complete IoT introduction using Arduino’s and Raspberry Pi’s, connect the devices to Azure cloud services, collect messages from sensors and send them to IoT Hub. By making use of various programming languages C#, C, Python and using open source SDK’s in multiple operating systems, the developers will get a clear understanding on how all these bind together, their capabilities and the effort required to implement and deploy IoT applications.</p>
                                            <strong class="highlight speaker-name">Vasilis Aivalis</strong>
                                        </article>
                                    </div>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-nasos-loukas.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium2_time5" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>12:30-13:15</strong>
                                        <h6 class="title">Azure Mobile Apps and Xamarin: From zero to hero<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium2_time5" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            <p class="description">Mobile Apps in Azure App Service offer a highly scalable, globally available mobile application development platform that brings a rich set of capabilities to mobile developers. With Mobile Apps it’s easy to rapidly build engaging cross-platform and native apps for iOS, Android, Windows, or Mac; store app data in the cloud or on-premises with offline syncing functionality; authenticate users by selecting from an ever-growing list of identity providers; send push notifications; or add your custom backend logic in C# or Node.js. This presentation demonstrates how to get started with Azure Mobile Apps and easily build an Azure backed cross-platform mobile application.</p>
                                            <strong class="highlight speaker-name">Nasos Loukas</strong>
                                        </article>
                                    </div>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-sophie-chanialaki.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium2_time6" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>13:15-14:00</strong>
                                        <h6 class="title">Conversations as a Platform: Bots and AI powered by Cloud<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium2_time6" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            <p class="description">Why Bots everywhere all of the sudden? What is their purpose? Are they going to replace applications? Is Artificial Intelligence what makes them so powerful? Let’s see the answers to all of these, examine examples/best practices of Bots that are capable of mimicking human behavior and deep dive on how we can build, train and publish Bots in multiple channels using the Microsoft Bot Framework, Microsoft Azure and Cognitive Services.</p>
                                            <strong class="highlight speaker-name">Sophie Chanialaki</strong>
                                        </article>
                                    </div>
                                </div>                                

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-cutlery"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium2_time7" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>13:45-14:30</strong>
                                        <h6 class="title">Lunch Break<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                </div>

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-dimosthenis-stellakis.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium2_time8" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>14:30-15:30</strong>
                                        <h6 class="title">Azure Application Insights<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium2_time8" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            <p class="description">Track your app’s availability, performance and success</p>
                                            <strong class="highlight speaker-name">Dimosthenis Stellakis</strong>
                                        </article>
                                    </div>
                                </div>
                                
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <img src="~/img/speakers/speaker-pantelis-apostolidis.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium2_time9" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>10:30-11:30</strong>
                                        <h6 class="title">Protect your data with a modern backup, archive and disaster recovery solution<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div id="day1_auditorium2_time9" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            <p class="description">Bad things happen, even to good people. Protect yourself and avoid costly business interruptions by implementing a modern backup, archive and disaster recovery strategy. See how you can securely extend your on-premises backup storage and data archive solutions to the cloud to reduce cost and complexity, while achieving efficiency and scalability. Be ready with a business continuity plan that includes disaster recovery of all your major IT systems without the expense of secondary infrastructure. You leave this session with a set of recommended architectures showing how to implement a modern backup, archive and disaster recovery solution and an understanding of how to quickly get something in place in your organization.</p>
                                            <strong class="highlight speaker-name">Pantelis Apostolidis</strong>
                                        </article>
                                    </div>
                                </div>
                                

                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-coffee"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium2_time10" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>16:30-16:45</strong>
                                        <h6 class="title">Break<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                </div> -->
                            </div>
                            <!-- Accordion end -->

                        </div>

                    </div>
                    <!-- Second level content end -->

                </div>
                <!-- Day 1 content end -->

            </div>
            <!-- First level content end -->

        </div>
        <!-- Schedule end -->

    </div>

</section>