<section id="speakers" class="section align-center">
    <div class="container">
        <span class="icon section-icon icon-faces-users-04"></span>
        <h3>Speakers</h3>
        <p class="text-alt">Call for <a href="https://1drv.ms/xs/s!AvCR5AUEM6mAi7NA4aipRmlaoMf6rg"><span class="highlight">content</span></a></p>
        <br />
        <br />
        <div class="row">
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="img/speakers/speaker-paris-polyzos-2.jpg" width="200" height="200" alt="Paris Polyzos" class="img-responsive"></div>
                    <h3 class="name">Paris Polyzos</h3>
                    <p class="text-alt"><small>Senior Software Engineer / Microsoft Azure MVP</small></p>
                    <p class="about">Paris is a Senior Software Engineer and a Microsoft Azure MVP. He holds an MSc in Electical & Computer Engineering; he is passionate about the Web, Microsoft Technologies and the cloud!</p>
                    <ul class="speaker-socials">
                        <li><a href="https://ppolyzos.com"><span class="fa fa-globe"></span></a></li>
                        <li><a href="https://www.facebook.com/ppolyzos"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="https://twitter.com/ppolyzos"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="https://linkedin.com/in/ppolyzos"><span class="fa fa-linkedin"></span></a></li>
                        <li><a href="https://github.com/ppolyzos"><span class="fa fa-github"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="img/speakers/speaker-kostas-pantos.jpg" width="200" height="200" alt="Konstantinos Pantos" class="img-responsive"></div>
                    <h3 class="name">Kostas Pantos</h3>
                    <p class="text-alt"><small>Cloud Solutions Architect @@ Microsoft</small></p>
                    <p class="about">Since 2001, when I started my professional career, I was given the opportunity to work with some of the largest Greek Software development Companies and worked with cutting edge Microsoft technologies. Nowadays I work as a Solutions Architect for Microsoft where I focus in providing innovative cloud solutions.</p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.facebook.com/konstantinos.pantos"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="https://twitter.com/kpantos"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="https://www.linkedin.com/in/konstantinospantos"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="img/speakers/speaker-vaggelis-kappas.jpg" width="200" height="200" alt="Vaggelis Kappas" class="img-responsive"></div>
                    <h3 class="name">Vaggelis Kappas</h3>
                    <p class="text-alt"><small>Solution Specialist for Azure Apps & Infra @@ Microsoft</small></p>
                    <p class="about">
                        Microsoft Solution Specialist for Azure Applications and Infrastructure, that is helping enterprise customers to realize the benefits and value of Cloud.
                        Administrative member and moderator of autoexec.gr. Frequent speaker on technology events organized by the major IT communities in Greece, such as autoexec.gr and azureheads.gr. Proud husband and dad.
                    </p>
                    <ul class="speaker-socials">
                        <li><a href="http://www.autoexec.gr"><span class="fa fa-globe"></span></a></li>
                        <li><a href="https://www.facebook.com/vaggelis.kappas.37"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="https://www.linkedin.com/in/vkappas"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="img/speakers/speaker-chatzipavlis-bw.jpg" width="200" height="200" alt="Nasos Loukas" class="img-responsive"></div>
                    <h3 class="name">Antonios Chatzipavlis</h3>
                    <p class="text-alt"><small>SQL Server Data Platform Expert @@ Office Line SA</small></p>
                    <p class="about">Antonios has been involved with computers since 1982. He started his professional carrier in IT, especially in software development in 1988. In 1998 he started his carrier as Microsoft Certified Trainer in Microsoft development products. He is also the founder of sqlschool.gr and a moderator of autoexec.gr</p>
                    <ul class="speaker-socials">
                        <li><a href="http://www.sqlschool.gr/"><span class="fa fa-globe"></span></a></li>
                        <li><a href="https://www.facebook.com/achatzipavlis"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="https://twitter.com/antoniosch"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="https://www.linkedin.com/in/achatzipavlis"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded">
                        <img src="img/speakers/speaker-Dimitris-Ilias-gkanatsios.jpg" width="200" height="200" alt="Dimitris-Ilias Gkanatsios" class="img-responsive">
                    </div>
                    <h3 class="name">Dimitris-Ilias Gkanatsios</h3>
                    <p class="text-alt">
                        <small>Technical Evangelist, Microsoft Greece, Cyprus and Malta @@ Microsoft Hellas</small>
                    </p>
                    <p class="about">Dimitris-Ilias has been working as a Technical Evangelist in Microsoft Greece, Cyprus and Malta for 10 years, helping startups/software houses/students and independent developers use the greatest and latest Microsoft technologies. He loves running and playing video games (with the latter heavily influencing his presentations)</p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.linkedin.com/in/gkanatsios/"><span class="fa fa-linkedin"></span></a></li>
                        <li><a href="https://www.dgkanatsios.com"><span class="fa fa-globe"></span></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded">
                        <img src="~/img/speakers/speaker-pantelis-apostolidis-new.jpg" width="200" height="200" alt="Pantelis Apostolidis" class="img-responsive">
                    </div>
                    <h3 class="name">Pantelis Apostolidis</h3>
                    <p class="text-alt">
                        <small>Solutions Architect @@ Office Line SA | Microsoft Azure MVP</small>
                    </p>
                    <p class="about">
                        Passionate about information technology, Pantelis is a Solutions Architect at Office Line SA & a Microsoft Azure MVP. For the last 10 years, Pantelis has been involved to major cloud projects in Greece & abroad. He is an author, blogger & a spokesperson | Moderator of the azureheads.gr & autoexec.gr communities | Husband | DAD
                    </p>
                    <ul class="speaker-socials">
                        <li><a href="http://www.e-apostolidis.gr/"><span class="fa fa-globe"></span></a></li>
                        <li><a href="https://www.facebook.com/pantelis.apostolidis"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="https://www.linkedin.com/in/papostolidis/"><span class="fa fa-linkedin"></span></a></li>
                        <li><a href="https://twitter.com/papostolidis"><span class="fa fa-twitter"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="~/img/speakers/speaker-nikos-antoniou.jpg" width="200" height="200" alt="Nikos Antoniou" class="img-responsive"></div>
                    <h3 class="name">Nikolaos Antoniou</h3>
                    <p class="text-alt"><small>Cloud Solutions Specialist @@Microsoft</small></p>
                    <p class="about">
                        Passionate about software engineering in the cloud era, avid coder, casual gamer and amateur cyclist. On a mission to help companies achieve more through strategic employment of Azure technologies.
                    </p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.linkedin.com/in/nikolaos-antoniou/"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded">
                        <img src="~/img/speakers/speaker-giorgo-kavvalakis.jpg" width="200" height="200" alt="Giorgos Kavvalakis" class="img-responsive">
                    </div>
                    <h3 class="name">Giorgos Kavvalakis</h3>
                    <p class="text-alt">
                        <small>Vamvas Medicals, Chief Information Officer, BSc, MSc, MCSA, interoperability influencer</small>
                    </p>
                    <p class="about">George has 20 years of experience in the IT industry where he started working as a Systems and Network Engineer since 1998. He has worked for global firms like Robert Bosch SA. In 2008, while working for Vamvas Group of companies, he took the role of IT Manager and two years later he was promoted to Chief Information Officer for the group. </p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.linkedin.com/in/georgeblackman/"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded">
                        <img src="~/img/speakers/speaker-natasa-manousopoulou.jpg" width="200" height="200" alt="Natasa Manousopoulou" class="img-responsive">
                    </div>
                    <h3 class="name">Natasa Manousopoulou</h3>
                    <p class="text-alt">
                        <small>Program Manager / Architect, Commercial Software Engineering, Microsoft Corp.</small>
                    </p>
                    <p class="about">
                        Natasa has been working for Microsoft for the past 12 years as an architect, CTO, and communities director, and is currently doing technical program management for the Commercial Software Engineering organization. She loves building software for money or just for fun, and even though her academic years as a post doc researcher and teacher are far away in the past, she still has the teaching bug.
                    </p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.linkedin.com/in/n-m/"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="img/speakers/speaker-michail-angelos-haggar.jpg" width="200" height="200" alt="Michail Angelos Haggar" class="img-responsive"></div>
                    <h3 class="name">Michail Angelos Haggar</h3>
                    <p class="text-alt"><small>Technology Solutions Professional @@ Microsoft</small></p>
                    <p class="about">
                        Michalis is a Technology Solutions Professional at Microsoft for Greece, Cyprus and Malta specialized in Modern Desktop and Threat Management Technologies. He has 11 years’ experience and is passionate about Microsoft Technologies. His focus is to bring modern cloud-powered solutions to organizations and help them achieve more.
                    </p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.linkedin.com/in/michael-angelo-haggar/"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded">
                        <img src="img/speakers/speaker-george-markou.jpg" width="200" height="200" alt="George Markou" class="img-responsive">
                    </div>
                    <h3 class="name">George Markou</h3>
                    <p class="text-alt">
                        <small>Technical Lead @@ Bewise</small>
                    </p>
                    <p class="about">
                        IT Pro, Geek and Technology Enthusiast. Geeking out about the Software Defined Datacenter and the Cloud | Cloud & Datacenter Management MVP | Moderator of AutoExec.gr
                    </p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.linkedin.com/in/george-markou-06111617/"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded">
                        <img src="img/speakers/speaker-christos-charmatzis.jpg" width="200" height="200" alt="Christos Charmatzis" class="img-responsive">
                    </div>
                    <h3 class="name">Christos Charmatzis</h3>
                    <p class="text-alt">
                        <small>Data Scientist / GIS Specialist @@ T.A. Geoforce</small>
                    </p>
                    <p class="about">Christos Charmatzis is a Data Scientist, focusing on GIS systems, with an experience of over 6 years in the design and development of GIS projects. He holds a Microsoft certification through program Microsoft Professional  Program for Data Science.</p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.linkedin.com/in/christoscharmatzis/"><span class="fa fa-linkedin"></span></a></li>
                        <li><a href="https://github.com/Charmatzis"><span class="fa fa-github"></span></a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="~/img/speakers/speaker-george-makrakis.jpg" width="200" height="200" alt="Georgios Michail Makrakis" class="img-responsive"></div>
                    <h3 class="name">Georgios Michail Makrakis</h3>
                    <p class="text-alt"><small>Software Engineer at Plegma Labs S.A., Microsoft Student Partner</small></p>
                    <p class="about">
                        George (Georgios) holds a Degree from the Department of Information and Communication Systems Engineering, the University of the Aegean where he also was a Microsoft Student Partner (MSP). He has joined Plegma Labs as a member of the University's internship program, specialized on software development. Also provides DevOps solutions and has IoT security, as basic guideline in every project he gets involved.
                    </p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.linkedin.com/in/georgios-michail-makrakis/"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded">
                        <img src="img/speakers/speaker-panos-macheras.jpg" width="200" height="200" alt="Panos Macheras" class="img-responsive">
                    </div>
                    <h3 class="name">Panos Macheras</h3>
                    <p class="text-alt">
                        <small>Technology Strategist @@ Microsoft Hellas</small>
                    </p>
                    <p class="about">I am a Technology Strategist for Microsoft, working with large enterprise companies in the Greek market.</p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.linkedin.com/in/panos-macheras-78493b43/"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded">
                        <img src="~/img/speakers/speaker-theofilos-spyrou.jpg" width="200" height="200" alt="Panos Macheras" class="img-responsive">
                    </div>
                    <h3 class="name">Theofilos Spyrou</h3>
                    <p class="text-alt">
                        <small>Microsoft Student Partner Country Lead Greece, Cyprus & Malta | Co-Founder, Software Engineer @@ Intelligent Business Solutions</small>
                    </p>
                    <p class="about">Theofilos is a tech-enthusiast Electrical & Computer Engineering student. As a Microsoft Student Partner, he likes to empower other students to enter the exciting world of technology by organizing events on various topics. He loves travelling and playing table tennis.</p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.linkedin.com/in/TheofilosSpyrou"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            @*<div class="col-sm-4">
            <div class="speaker">
                <div class="photo-wrapper rounded">
                    <img src="~/img/speakers/speaker-giorgo-kavvalakis.jpg" width="200" height="200" alt="Giorgos Kavvalakis" class="img-responsive">
                </div>
                <h3 class="name">Giorgos Kavvalakis</h3>
                <p class="text-alt">
                    <small>Vamvas Medicals, Chief Information Officer, BSc, MSc, MCSA, interoperability influencer</small>
                </p>
                <p class="about">George has 20 years of experience in the IT industry where he started working as a Systems and Network Engineer since 1998. He has worked for global firms like Robert Bosch SA. In 2008, while working for Vamvas Group of companies, he took the role of IT Manager and two years later he was promoted to Chief Information Officer for the group. </p>
                <ul class="speaker-socials">
                    <li><a href="https://www.linkedin.com/in/georgeblackman/"><span class="fa fa-linkedin"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="speaker">
                <div class="photo-wrapper rounded">
                    <img src="~/img/speakers/speaker-natasa-manousopoulou.jpg" width="200" height="200" alt="Natasa Manousopoulou" class="img-responsive">
                </div>
                <h3 class="name">Natasa Manousopoulou</h3>
                <p class="text-alt">
                    <small>Program Manager / Architect, Commercial Software Engineering, Microsoft Corp.</small>
                </p>
                <p class="about">
                    Natasa has been working for Microsoft for the past 12 years as an architect, CTO, and communities director, and is currently doing technical program management for the Commercial Software Engineering organization. She loves building software for money or just for fun, and even though her academic years as a post doc researcher and teacher are far away in the past, she still has the teaching bug.
                </p>
                <ul class="speaker-socials">
                    <li><a href="https://www.linkedin.com/in/n-m/"><span class="fa fa-linkedin"></span></a></li>
                </ul>
            </div>
        </div>*@
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded">
                        <img src="~/img/speakers/speaker-thodoris-theodorou.jpg" width="200" height="200" alt="Thodoris Theodorou" class="img-responsive">
                    </div>
                    <h3 class="name">Thodoris Theodorou</h3>
                    <p class="text-alt">
                        <small>Senior Consultant Apps Domain (EMEA) @@ Microsoft</small>
                    </p>
                    <p class="about">Thodoris has more than 16 years experience in application development and consulting. He is passionate about Microsoft technologies and focuses in empowering enterprise customers solve their business problems with cutting-edge software solutions. He holds an MSc in Computer Science and an MBA from ALBA Graduate Business School.</p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.linkedin.com/in/thodoris-theodorou/"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded">
                        <img src="~/img/speakers/speaker-george-andritsos.png" width="200" height="200" alt="George Andritsos" class="img-responsive">
                    </div>
                    <h3 class="name">George Andritsos</h3>
                    <p class="text-alt">
                        <small>Information & Communications Technology</small>
                    </p>
                    <p class="about">IT Pro, Exchange MVP , MCT Since 2011, Member of Autoexec.gr</p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.linkedin.com/in/george-andritsos-54a85428/"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        @*<div class="row">
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded">
                        <img src="img/speakers/speaker-konstantinos-boutsioulis.jpg" width="200" height="200" alt="Konstantinos Boutsioulis" class="img-responsive">
                    </div>
                    <h3 class="name">Konstantinos Boutsioulis</h3>
                    <p class="text-alt">
                        <small>Sharepoint Administrator, Sharepoint Developer</small>
                    </p>
                    <p class="about">I work as a SharePoint Administrator and software developer since 2007.I mainly interested in Microsoft technologies and I have participated in 12 Microsoft official courses most of them are about SharePoint and SQL Server.</p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.linkedin.com/in/konstantinos-boutsioulis-1955a343/"><span class="fa fa-linkedin"></span></a></li>
                        <li><a href="https://boutsiouliskonstantinos.wordpress.com/"><span class="fa fa-address-card"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>*@

        @*<div class="row">

            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="img/speakers/speaker-vasillis-makris.jpg" width="200" height="200" alt="Vasilis Makris" class="img-responsive"></div>
                    <h3 class="name">Vasilis Makris</h3>
                    <p class="text-alt"><small>Senior Software Engineer @@ CubeRM</small></p>
                    <p class="about">
                        Engineer with over 15 years’ experience in designing, developing websites and applications.
                        Currently I work as a Senior Software Engineer at CubeRM where I use the latest Microsoft Azure Technologies.
                    </p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.linkedin.com/in/vmakris/"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded">
                        <img src="~/img/speakers/speaker-vangelis-kapsalakis.jpg" width="200" height="200" alt="Vangelis Kapsalakis" class="img-responsive">
                    </div>
                    <h3 class="name">Vangelis Kapsalakis</h3>
                    <p class="text-alt">
                        <small>SSP Cloud Infrastructure @@ Microsoft</small>
                    </p>
                    <p class="about">Vangelis is a Cloud Infrastructure Solution Specialist in Microsoft Hellas covering Microsoft Enterprise Accounts in Greece, Cyprus and Malta. He started his carrier  as an IT Consultant and as a Premier Field Engineer in Microsoft Hellas. He is an active member and moderator in <a href="http://www.autoexec.gr">autoexec.gr</a>.</p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.linkedin.com/in/vangelis-kapsalakis-86099438/"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded">
                        <img src="img/speakers/speaker-christos-siamentzas.jpg" width="200" height="200" alt="Christos Siamentzas" class="img-responsive">
                    </div>
                    <h3 class="name">Christos Siamentzas</h3>
                    <p class="text-alt">
                        <small>Senior Database Developer @@ Stoiximan</small>
                    </p>
                    <p class="about">
                        I' m a senior database developer at STOIXIMAN. I hold a BSc in department of Informatics in University of Piraeus. I have over than 10 years experience in SQL SERVER technologies.
                    </p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.linkedin.com/in/christos-siamentzas-2977737/"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>*@

        @*<div class="row">
            
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="img/speakers/speaker-konstantinos-demiris.jpg" width="200" height="200" alt="Konstantinos Demiris" class="img-responsive"></div>
                    <h3 class="name">Konstantinos Demiris</h3>
                    <p class="text-alt"><small>DevOps-er @@ Stoiximan</small></p>
                    <p class="about">
                        Kostas is a DevOps engineer at Stoiximan.gr.
                        He is self-taught in anything that is passionate about. With a Bachelor in Economics, traversed through web development, quality assurance, cloud automation and now DevOps.
                    </p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.linkedin.com/in/kostas-demiris"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded">
                        <img src="img/speakers/speaker-panagiotis-kouris.jpg" width="200" height="200" alt="Panagiotis Kouris" class="img-responsive">
                    </div>
                    <h3 class="name">Panagiotis Kouris</h3>
                    <p class="text-alt">
                        <small>CEO, IT Consultant @@ Office Line SA</small>
                    </p>
                    <p class="about">
                        Panagiotis is an exceptional Partner and service provider with integrated knowledge of his area of expertise. Panagiotis is capable of providing integrated IT solutions tailored to each company's needs at reasonable costs and superb quality of service!
                    </p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.linkedin.com/in/panagiotis-kouris-13295820/"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>*@

        @*<div class="row">
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded">
                        <img src="img/speakers/speaker-elias-solomonidis.jpg" width="200" height="200" alt="Elias Solomonidis" class="img-responsive">
                    </div>
                    <h3 class="name">Elias Solomonidis</h3>
                    <p class="text-alt">
                        <small>CRM Consultant @@ EDEA</small>
                    </p>
                    <p class="about">Microsoft CRM Certified Professional. Specialties: IT Consultant Software Architect Content Management Specialist</p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.linkedin.com/in/esolomonidis/"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>

             <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded">
                        <img src="img/speakers/speaker-panagiotis-kagias.jpg" width="200" height="200" alt="Panagiotis Kagias" class="img-responsive">
                    </div>
                    <h3 class="name">Panagiotis Kagias</h3>
                    <p class="text-alt">
                        <small>Systems Engineer @@ IQ Solutions SA</small>
                    </p>
                    <p class="about">
                        Experienced Field Systems Engineer with a demonstrated history of working in the information technology industry. Currently employed in one of Greece's top Systems Intergrators.
                    </p>
                    <ul class="speaker-socials">
                        <li><a href="https://pkagias.com/"><span class="fa fa-globe"></span></a></li>
                        <li><a href="https://www.linkedin.com/in/panagiotis-kagias-9b063246"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="img/speakers/speaker-michalis-nikolaidis.jpg" width="200" height="200" alt="Michalis Nikolaidis" class="img-responsive"></div>
                    <h3 class="name">Michalis Nikolaidis</h3>
                    <p class="text-alt"><small>Freelance Software Engineer & Photographer</small></p>
                    <p class="about">
                        work as a .NET developer since 2011. I am mainly interested in the development of innovative web and mobile applications that take full advantage of the Microsoft technology stack.
                    </p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.linkedin.com/in/mnikolaidis/"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>*@


        @*<div class="row">
            <div class="col-sm-12">
                <p><strong>More to be announced soon...</strong></p>
            </div>
        </div>*@
        @*<div class="row">
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded">
                        <img src="img/speakers/speaker-christos-charmatzis.jpg" width="200" height="200" alt="Christos Charmatzis" class="img-responsive">
                    </div>
                    <h3 class="name">Christos Charmatzis</h3>
                    <p class="text-alt">
                        <small>Data Scientist / GIS Specialist @@ MarineTraffic</small>
                    </p>
                    <p class="about">Christos Charmatzis is a Data Scientist, focusing on GIS systems, with an experience of over 6 years in the design and development of GIS projects. He holds a Microsoft certification through program Microsoft Professional  Program for Data Science.</p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.linkedin.com/in/christoscharmatzis/"><span class="fa fa-linkedin"></span></a></li>
                        <li><a href="https://github.com/Charmatzis"><span class="fa fa-github"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="img/speakers/speaker-george-capnias.jpg" width="200" height="200" alt="George J. Capnias" class="img-responsive"></div>
                    <h3 class="name">George J. Capnias</h3>
                    <p class="text-alt"><small>Software Architect & Development Manager</small></p>
                    <p class="about">Leader of dotNETZone.gr, an Athens, Greece, user group for Greek software developers using Microsoft’s .NET platform. Microsoft Certified Professional and MVP for 'Visual Studio and Development Technologies'</p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.dotnetzone.gr"><span class="fa fa-globe"></span></a></li>
                        <li><a href="https://www.facebook.com/gcapnias"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="https://twitter.com/gcapnias"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="https://gr.linkedin.com/in/gcapnias"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded">
                        <img src="~/img/speakers/speaker-chris-spanougakis.jpg" width="200" height="200" alt="Chris Spanougakis" class="img-responsive">
                    </div>
                    <h3 class="name">Chris Spanougakis</h3>
                    <p class="text-alt">
                        <small>Senior IT Consultant (independent contractor), SystemPlus IT Consulting</small>
                    </p>
                    <p class="about">Senior IT Systems Engineer and Professional Trainer with extensive real-world experience and a track record of providing IT Services to senior level individuals and companies as an independent contractor.</p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.linkedin.com/in/chrisspanougakis/"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>*@
    </div>
</section>
