<section id="speakers" class="section align-center">
    <div class="container">
        <span class="icon section-icon icon-faces-users-04"></span>
        <h3>Speakers</h3>
        <p class="text-alt">Call for <a href="https://1drv.ms/xs/s!AvCR5AUEM6mAi7NA4aipRmlaoMf6rg"><span class="highlight">content</span></a></p>
        <br />
        <br />
        @*More coming soon*@
        <div class="row">
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="img/speakers/speaker-paris-polyzos.jpg" width="200" height="200" alt="Paris Polyzos" class="img-responsive"></div>
                    <h3 class="name">Paris Polyzos</h3>
                    <p class="text-alt"><small>Senior Software Engineer / Microsoft Azure MVP</small></p>
                    <p class="about">Paris is a Senior Software Engineer and a Microsoft Azure MVP. He holds an MSc in Electical & Computer Engineering; he is passionate about the Web, Microsoft Technologies and the cloud!</p>
                    <ul class="speaker-socials">
                        <li><a href="https://ppolyzos.com"><span class="fa fa-globe"></span></a></li>
                        <li><a href="https://www.facebook.com/ppolyzos"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="https://twitter.com/ppolyzos"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="https://linkedin.com/in/ppolyzos"><span class="fa fa-linkedin"></span></a></li>
                        <li><a href="https://github.com/ppolyzos"><span class="fa fa-github"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="img/speakers/speaker-kostas-pantos.jpg" width="200" height="200" alt="Konstantinos Pantos" class="img-responsive"></div>
                    <h3 class="name">Kostas Pantos</h3>
                    <p class="text-alt"><small>Cloud Solutions Architect @@ Microsoft</small></p>
                    <p class="about">Since 2001, when I started my professional career, I was given the opportunity to work with some of the largest Greek Software development Companies and worked with cutting edge Microsoft technologies. Nowadays I work as a Solutions Architect for Microsoft where I focus in providing innovative cloud solutions.</p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.facebook.com/konstantinos.pantos"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="https://twitter.com/kpantos"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="https://www.linkedin.com/in/konstantinospantos"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="img/speakers/speaker-vaggelis-kappas.jpg" width="200" height="200" alt="Vaggelis Kappas" class="img-responsive"></div>
                    <h3 class="name">Vaggelis Kappas</h3>
                    <p class="text-alt"><small>Premier Field Engineer for Virtualization and Azure IaaS @@ Microsoft</small></p>
                    <p class="about">IT Solutions expert and Systems Engineer with over 15 years of experience combining team leading and managerial skills. Frequent speaker on technology events, organized by IT Pro community and Microsoft about Windows Server, Hyper-V, Azure, Office 365</p>
                    <ul class="speaker-socials">
                        <li><a href="http://www.autoexec.gr"><span class="fa fa-globe"></span></a></li>
                        <li><a href="https://www.facebook.com/vaggelis.kappas.37"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="https://www.linkedin.com/in/vkappas"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="row">

            <!-- <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="img/speakers/speaker-chatzipavlis-bw.jpg" width="200" height="200" alt="Nasos Loukas" class="img-responsive"></div>
                    <h3 class="name">Antonios Chatzipavlis</h3>
                    <p class="text-alt"><small>SQL Server Data Platform Expert @@ SiEBEN</small></p>
                    <p class="about">Antonios has been involved with computers since 1982. He started his professional carrier in IT, especially in software development in 1988. In 1998 he started his carrier as Microsoft Certified Trainer in Microsoft development products. He is also the founder of sqlschool.gr and a moderator of autoexec.gr</p>
                    <ul class="speaker-socials">
                        <li><a href="http://www.sqlschool.gr/"><span class="fa fa-globe"></span></a></li>
                        <li><a href="https://www.facebook.com/achatzipavlis"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="https://twitter.com/antoniosch"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="https://www.linkedin.com/in/achatzipavlis"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded">
                        <img src="~/img/speakers/speaker-chris-spanougakis.jpg" width="200" height="200" alt="Chris Spanougakis" class="img-responsive">
                    </div>
                    <h3 class="name">Chris Spanougakis</h3>
                    <p class="text-alt">
                        <small>Senior IT Consultant (independent contractor), SystemPlus IT Consulting</small>
                    </p>
                    <p class="about">Senior IT Systems Engineer and Professional Trainer with extensive real-world experience and a track record of providing IT Services to senior level individuals and companies as an independent contractor.</p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.linkedin.com/in/chrisspanougakis/"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div> -->
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded">
                        <img src="~/img/speakers/speaker-pantelis-apostolidis.jpg" width="200" height="200" alt="Pantelis Apostolidis" class="img-responsive">
                    </div>
                    <h3 class="name">Pantelis Apostolidis</h3>
                    <p class="text-alt">
                        <small>Solution Architect @@ Office Line SA</small>
                    </p>
                    <p class="about">Passionate about IS technologies especially Microsoft Azure | MCSE Cloud Platform & Infrastructure and Productivity | Microsoft Azure MVP | Husband | DAD </p>
                    <ul class="speaker-socials">
                        <li><a href="http://www.e-apostolidis.gr/"><span class="fa fa-globe"></span></a></li>
                        <li><a href="https://www.facebook.com/pantelis.apostolidis"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="https://www.linkedin.com/in/papostolidis/"><span class="fa fa-linkedin"></span></a></li>
                        <li><a href="https://twitter.com/papostolidis"><span class="fa fa-twitter"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <p><strong>More to be announced soon...</strong></p>
            </div>
        </div>
        
        <!-- <div class="row">
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="img/speakers/speaker-vasilis-aivalis.jpg" width="200" height="200" alt="Vasilis Aivalis" class="img-responsive"></div>
                    <h3 class="name">Vasilis Aivalis</h3>
                    <p class="text-alt"><small>Senior Software Engineer @@ Skufler</small></p>
                    <p class="about">Vasilis holds a BSc. and MSc. in Computer Science since 2003. He has been working as a software developer for Siemens, Atos-Origin and ZuluTrade. Throughout his career Vasilis has been given the opportunity to work with various industries, platforms and programming languages.</p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.facebook.com/vasilis.aivalis"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="https://www.linkedin.com/in/aivalisvasilis"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded">
                        <img src="img/speakers/speaker-sophie-chanialaki.jpg" width="200" height="200" alt="Sophie Chanialaki" class="img-responsive">
                    </div>
                    <h3 class="name">Sophie Chanialaki</h3>
                    <p class="text-alt">
                        <small>Technical Evangelist @@ Microsoft Hellas</small>
                    </p>
                    <p class="about">Sophie holds a BSc. and MSc. in Network-Oriented Digital Systems and during her studies she was part of the Microsoft Student Partner Program for 2,5 years. After graduating, she started working as a Technical Evangelist and a MACH hire in the Developer Experience Department at Microsoft Greece, where she has developed expertise in Cloud Computing. Sophie is also the MACH Lead for Microsoft Greece, Malta and Cyprus subsidiaries and Community Organizer for Influencers such as MVPs, MSPs and other developer groups.</p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.facebook.com/sofihanialaki"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="https://twitter.com/sofiehn9"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="https://www.linkedin.com/in/sophiehn"><span class="fa fa-linkedin"></span></a></li>
                        <li><a href="https://github.com/sophiehn"><span class="fa fa-github"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded">
                        <img src="img/speakers/speaker-nasos-loukas.jpg" width="200" height="200" alt="Nasos Loukas" class="img-responsive">
                    </div>
                    <h3 class="name">Nasos Loukas</h3>
                    <p class="text-alt">
                        <small>Mobile Team Leader @@ Kyon</small>
                    </p>
                    <p class="about">
                        Nasos holds an MSc in Information and Communication Systems Security and is a Software Engineer with a great passion for mobile computing, having experience in all major mobile platforms.
                        For the last 5 years he has been working for ZuluTrade and KYON as a Mobile Software Engineer having also the role of the Mobile Team Leader.
                    </p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.facebook.com/fb.sos"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="https://www.linkedin.com/in/aloukas"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded">
                        <img src="img/speakers/speaker-christos-charmatzis.jpg" width="200" height="200" alt="Christos Charmatzis" class="img-responsive">
                    </div>
                    <h3 class="name">Christos Charmatzis</h3>
                    <p class="text-alt">
                        <small>Data Scientist / GIS Specialist @@ MarineTraffic</small>
                    </p>
                    <p class="about">Christos Charmatzis is a Data Scientist, focusing on GIS systems, with an experience of over 6 years in the design and development of GIS projects. He holds a Microsoft certification through program Microsoft Professional  Program for Data Science.</p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.linkedin.com/in/christoscharmatzis/"><span class="fa fa-linkedin"></span></a></li>
                        <li><a href="https://github.com/Charmatzis"><span class="fa fa-github"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="img/speakers/speaker-george-capnias.jpg" width="200" height="200" alt="George J. Capnias" class="img-responsive"></div>
                    <h3 class="name">George J. Capnias</h3>
                    <p class="text-alt"><small>Software Architect & Development Manager</small></p>
                    <p class="about">Leader of dotNETZone.gr, an Athens, Greece, user group for Greek software developers using Microsoft’s .NET platform. Microsoft Certified Professional and MVP for 'Visual Studio and Development Technologies'</p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.dotnetzone.gr"><span class="fa fa-globe"></span></a></li>
                        <li><a href="https://www.facebook.com/gcapnias"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="https://twitter.com/gcapnias"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="https://gr.linkedin.com/in/gcapnias"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded">
                        <img src="~/img/speakers/speaker-vangelis-kapsalakis.jpg" width="200" height="200" alt="Vangelis Kapsalakis" class="img-responsive">
                    </div>
                    <h3 class="name">Vangelis Kapsalakis</h3>
                    <p class="text-alt">
                        <small>SSP Cloud Infrastructure @@ Microsoft</small>
                    </p>
                    <p class="about">Vangelis is a Cloud Infrastructure Solution Specialist in Microsoft Hellas covering Microsoft Enterprise Accounts in Greece, Cyprus and Malta. He started his carrier  as an IT Consultant and as a Premier Field Engineer in Microsoft Hellas. He is an active member and moderator in <a href="http://www.autoexec.gr">autoexec.gr</a>.</p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.linkedin.com/in/vangelis-kapsalakis-86099438/"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="img/speakers/speaker-dimosthenis-stellakis.jpg" width="200" height="200" alt="Dimosthenis Stellakis" class="img-responsive"></div>
                    <h3 class="name">Dimosthenis Stellakis</h3>
                    <p class="text-alt"><small>Solutions Architect</small></p>
                    <p class="about">Dimosthenis Stellakis has an MSc in Electronic & Computer Engineering, and has been involved as a Solutions Architect in many projects in Greece and abroad, using the latest Microsoft technologies. He especially likes the Web and the cloud!</p>
                    <ul class="speaker-socials">
                        <li><a href="https://www.facebook.com/dstellakis"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="https://www.linkedin.com/in/dstellakis"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
        </div> -->
    </div>
</section>