<section id="sponsors" class="section align-center">
    <div class="container">
        <span class="icon section-icon icon-documents-bookmarks-12"></span>
        <h3>General sponsors</h3>
        <p class="text-alt">companies that <span class="highlight">support</span> us</p>
        <br />
        <br />

        <div class="sponsors">
            @*<div class="sponsor big"><img src="img/sponsors/mvp.png" alt=""></div>*@
            <div class="sponsor big"><a href="http://microsoft.com/" target="_blank"><img src="img/sponsors/microsoft.png" alt="Microsoft"></a></div>
             <div class="sponsor big"><a href="http://stoiximan.gr/" target="_blank"><img src="img/sponsors/stoiximan.png" alt="stoiximan.gr"></a></div> 
        </div>

        <div class="sponsors">
            <!-- <div class="sponsor big"><img src="~/img/sponsors/sponsors-delivery.gr.jpg" alt="www.delivery.gr"></div> -->
        </div>
        <div class="sponsors">
            <div class="sponsor big"><a href="http://officeline.gr/" target="_blank"><img src="img/sponsors/office-line.png" alt="OfficeLine"></a></div>
            <div class="sponsor big"><a href="http://www.iqsolutions.gr/" target="_blank"><img src="~/img/sponsors/iq-solutions.png" alt="iQ Solutions"></a></div>
            <div class="sponsor big"><a href="http://www.cuberm.com/" target="_blank"><img src="~/img/sponsors/cuberm.png" alt="Cube RM"></a></div>
            @*<div class="sponsor inline"><img src="img/sponsors/sponsor2.png" alt=""></div>
            <div class="sponsor inline"><img src="img/sponsors/sponsor3.png" alt=""></div>
            <div class="sponsor inline"><img src="img/sponsors/sponsor4.png" alt=""></div>*@
        </div>
        @*<div class="sponsors">
            <div class="sponsor inline"><img src="img/sponsors/sponsor5.png" alt=""></div>
            <div class="sponsor inline"><img src="img/sponsors/sponsor6.png" alt=""></div>
            <div class="sponsor inline"><img src="img/sponsors/sponsor7.png" alt=""></div>
            <div class="sponsor inline"><img src="img/sponsors/sponsor3.png" alt=""></div>
        </div>*@

        <div class="sponsors">
            <div class="sponsor inline"><a href="https://sessionize.com/" target="_blank"><img src="img/sponsors/sessionize-logo.png" alt="Sessionize"></a></div>
            @*<div class="sponsor inline"><img src="img/sponsors/sponsor1.png" alt=""></div>*@
        </div>

    </div>
</section>