<section id="hero" class="hero-section bg-ai bg-cover window-height light-text ai-bootcamp">
    <ul class="socials-nav">
        <li class="socials-nav-item">
            <a href="https://www.twitter.com/azureheads/">
                <span class="fa fa-twitter"></span>
            </a>
        </li>
        <li class="socials-nav-item">
            <a href="https://www.facebook.com/azureheads/">
                <span class="fa fa-facebook"></span>
            </a>
        </li>
        <li class="socials-nav-item">
            <a href="https://www.meetup.com/azureheads/">
                <span class="fa fa-meetup"></span>
            </a>
        </li>
        @*<li class="socials-nav-item"><a href="#"><span class="fa fa-github"></span></a></li>*@
        @*<li class="socials-nav-item"><a href="#"><span class="fa fa-vimeo-square"></span></a></li>*@
        @*<li class="socials-nav-item"><a href="#"><span class="fa fa-google-plus"></span></a></li>
        <li class="socials-nav-item"><a href="#"><span class="fa fa-instagram"></span></a></li>*@
    </ul>
    <div class="heading-block centered-block align-center">
        <div class="container">
            <h5 class="heading-alt" style="margin-bottom: 8px;"><span class="fa fa-calendar-o base-clr-txt"></span>14.Dec<span class="fa fa-map-marker base-clr-txt" style="margin-left: 14px;"></span>Athens, Greece</h5>
            @*<h1 class="extra-heading">Athens AI Bootcamp 2019</h1>*@
            <div class="extra-heading-spacer"></div>
            <h6 class="thin base-font">One day full of <strong>AI & Microsoft Azure</strong>. <br/><span class="sponsor-hero">Powered by <a href="https://stoiximan.gr">Stoiximan</a></span></h6>
            <div class="btns-container">
                <!-- <a href="https://www.meetup.com/azureheads/events/237850213/" class="btn btn-md">GET TICKETS</a> -->
                <ul>
                    <li>
                        <a class="btn btn-md btn-lg-size" target="_blank" href="https://www.eventbrite.com/e/athens-ai-bootcamp-2019-tickets-79250021949">GET TICKETS</a>
                    </li>
                    <li>
                        <a class="btn btn-md btn-lg-size btn-berry" target="_blank" href="https://sessionize.com/ai-bootcamp-athens-2019/">Speakers</a>
                        <a class="btn btn-md btn-lg-size btn-berry" target="_blank" href="http://bit.ly/GAIBA2019">Volunteers</a>
                    </li>
                    @*<li><a class="btn btn-md btn-lg-size btn-green" target="_blank" href="~/files/AzureBootcamp2018_Sponsorship.pdf">Sponsorship</a></li>*@
                </ul>


                @*<a href="#" class="btn btn-outline btn-md" data-modal-link="0">VIDEO</a>*@
            </div>
        </div>
    </div>
</section>