<section id="about" class="section align-center">
    <div class="container">
        <span class="icon section-icon icon-multimedia-12"></span>
        <h3>Athens AI Bootcamp 2019</h3>
        <p class="text-alt">
            One day event where everyone, <span class="highlight">globally</span>, talks about the expanding universe of AI and Microsoft Azure!
        </p>
        <br />
        <br />
        <div class="col-md-12 col-sm-12">
            <div class="videoPlayer">
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/h-0GUUzpiw4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="tabs-wrapper tabs-horizontal">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#horizontal_tab1" data-toggle="tab">
                        <h6 class="heading-alt"><span class="fa fa-code"></span> General info</h6>
                    </a>
                </li>
                <li>
                    <a href="#horizontal_tab2" data-toggle="tab">
                        <h6 class="heading-alt"><span class="fa fa-rocket"></span> Workshops</h6>
                    </a>
                </li>
                <li>
                    <a href="#horizontal_tab3" data-toggle="tab">
                        <h6 class="heading-alt"><span class="fa fa-external-link"></span> Sponsor info</h6>
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="horizontal_tab1" class="tab-pane fade active in">
                    <div class="col-sm-5 img-column">
                        <img src="https://globalai.community/media/bknesdyq/gaib-1.png" alt="" class="img-responsive" />
                    </div>
                    <div class="col-sm-7 align-left">
                        <h6>Athens AI Bootcamp 2019</h6>
                        <p style="margin-bottom: 20px;">
                            <strong>Welcome to Athens AI Bootcamp!</strong> The Global AI Bootcamp is a free one-day event organized across the world by local communities that are passionate about artificial intelligence on Microsoft Azure. Join hundreds of other organizers to help out and be part of the experience!
                        </p>
                        <h6>Join us on December 14, 2019!</h6>
                        <p style="margin-bottom: 20px;">The event takes place on December 14th, 2019 with venues on every continent. The Global AI Bootcamp is centrally managed by our HQ in the Netherlands with support from Microsoft. The event is a perfect balance of quality content, awesome talks, and hands-on learning with like-minded peers in your community.</p>
                        <h6>A full day of learning about AI!</h6>
                        <ul>
                            <li>Learn how to implement AI solutions using pre-trained AI services like Cognitive Services and Bot Framework, or by building your own machine learning models with Azure ML and open-source frameworks like PyTorch and ML.NET. By the end of the day, you will be able to infuse AI into your applications.</li>
                        </ul>
                    </div>
                </div>

                <div id="horizontal_tab2" class="tab-pane fade">
                    <div class="col-sm-7 align-left">

                        <h6>Deep Dive Sessions</h6>
                        <p>
                        <p style="margin-bottom: 20px;">
                            One full day of <strong>deep dive</strong> sessions on AI and Azure for Developers and IT Pros.
                        </p>
                        <p>
                            Have questions, need to discuss your technical issues, or looking for some advise, do attend to speak to the experts. Learn how to implement AI solutions using pre-trained AI services like Cognitive Services and Bot Framework, or by building your own machine learning models with Azure ML and open-source frameworks like PyTorch and ML.NET. By the end of the day, you will be able to infuse AI into your applications.
                        </p>
                        <ul>
                            <li>More coming soon.</li>
                        </ul>
                    </div>

                    <div class="col-sm-5 img-column">
                        <img src="https://globalai.community/media/bvwfzoxr/gaib-2.png" alt="" class="img-responsive" />
                    </div>
                </div>

                <div id="horizontal_tab3" class="tab-pane fade">
                    <div class="col-sm-5 img-column">
                        <img src="img/backgrounds/sponsor-icon.jpg" alt="" class="img-responsive" />
                    </div>
                    <div class="col-sm-7 align-left">
                        <h6>Sponsors apply</h6>
                        <p>
                            Interesting in sponsoring? Read our <a href="~/files/AzureBootcamp2018_Sponsorship.pdf">guide</a>
                            or <a href="mailto:me@ppolyzos.com">contact us</a> for further details.
                        </p>
                        <img src="img/sponsors/sponsorship-levels.png" />
                        @*<p>The sponsorship levels are:</p>
                        <h6>Basic</h6>
                        <ul>
                            <li>Banner at event venue.</li>
                            <li>Digital exposure.</li>
                            <li>Mentioned during the event opening.</li>
                        </ul>
                        <h6>Plus</h6>
                        <p>All exposure that sponsors get plus:</p>
                        <ul>
                            <li>Banner placed behind the podium, extra exposure in photos and videos.</li>
                            <li>Premium digital exposure, plus logo placed in Group’s photo.</li>
                            <li>Stand placed at the venue that can be used for promotional material etc.</li>
                            <li>No-conflict guarantee for sponsors.</li>
                            <li>Presentation done by a representative about the company, during the event. (upon availability)</li>
                        </ul>*@
                        @*<ul>
                            <li>Nisl cras vitae wisi odio amet.</li>
                            <li>Lacus amet vestibulum belas</li>
                            <li>Quis nunc curabitur assumenda</li>
                        </ul>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>