<section id="gallery" class="section align-center">
    <div class="container">
        <span class="icon section-icon icon-badges-votes-01"></span>
        <h3>Athens AI Bootcamp 2016</h3>
        <p class="text-alt">photos from last year's<span class="highlight">event</span></p>
        <br />

        <div class="gallery masonry">


            <span class="masonry-item">
                <a href="#" class="gallery-thumb-link" data-modal-link="gallery-2">
                    <img src="img/gallery/gallery-2-thumb.jpg" alt="">
                </a>

                <div class="modal-window" data-modal="gallery-2">
                    <div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
                        <span class="close-btn icon icon-office-52"></span>

                        <h5 class="heading-alt">Gallery image 2</h5>
                        <br />

                        <img src="img/gallery/gallery-2.jpg" class="full-width-img" alt="gallery1">
                    </div>
                </div>
            </span>
            <span class="masonry-item">
                <a href="#" class="gallery-thumb-link" data-modal-link="gallery-3">
                    <img src="img/gallery/gallery-3-thumb.jpg" alt="">
                </a>

                <div class="modal-window" data-modal="gallery-3">
                    <div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
                        <span class="close-btn icon icon-office-52"></span>

                        <h5 class="heading-alt">Gallery image 3</h5>
                        <br />

                        <img src="img/gallery/gallery-3.jpg" class="full-width-img" alt="gallery1">
                    </div>
                </div>
            </span>

            <span class="masonry-item">
                <a href="#" class="gallery-thumb-link" data-modal-link="gallery-4">
                    <img src="img/gallery/gallery-4-thumb.jpg" alt="">
                </a>

                <div class="modal-window" data-modal="gallery-4">
                    <div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
                        <span class="close-btn icon icon-office-52"></span>

                        <h5 class="heading-alt">Gallery image 4</h5>
                        <br />

                        <img src="~/img/gallery/gallery-4.jpg" class="full-width-img" alt="gallery1">
                    </div>
                </div>
            </span>
            <span class="masonry-item">
                <a href="#" class="gallery-thumb-link" data-modal-link="gallery-5">
                    <img src="img/gallery/gallery-5-thumb.jpg" alt="">
                </a>

                <div class="modal-window" data-modal="gallery-5">
                    <div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
                        <span class="close-btn icon icon-office-52"></span>

                        <h5 class="heading-alt">Gallery image 5</h5>
                        <br />

                        <img src="img/gallery/gallery-5.jpg" class="full-width-img" alt="gallery1">
                    </div>
                </div>
            </span>

            <span class="masonry-item">
                <a href="#" class="gallery-thumb-link" data-modal-link="gallery-6">
                    <img src="img/gallery/gallery-6-thumb.jpg" alt="">
                </a>

                <div class="modal-window" data-modal="gallery-6">
                    <div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
                        <span class="close-btn icon icon-office-52"></span>

                        <h5 class="heading-alt">Gallery image 6</h5>
                        <br />

                        <img src="img/gallery/gallery-6.jpg" class="full-width-img" alt="gallery1">
                    </div>
                </div>
            </span>
            <span class="masonry-item">
                <a href="#" class="gallery-thumb-link" data-modal-link="gallery-7">
                    <img src="img/gallery/gallery-7-thumb.jpg" alt="">
                </a>

                <div class="modal-window" data-modal="gallery-7">
                    <div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
                        <span class="close-btn icon icon-office-52"></span>

                        <h5 class="heading-alt">Gallery image 7</h5>
                        <br />

                        <img src="img/gallery/gallery-7.jpg" class="full-width-img" alt="gallery1">
                    </div>
                </div>
            </span>

            <span class="masonry-item">
                <a href="#" class="gallery-thumb-link" data-modal-link="gallery-8">
                    <img src="img/gallery/gallery-8-thumb.jpg" alt="">
                </a>

                <div class="modal-window" data-modal="gallery-8">
                    <div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
                        <span class="close-btn icon icon-office-52"></span>

                        <h5 class="heading-alt">Gallery image 8</h5>
                        <br />

                        <img src="img/gallery/gallery-8.jpg" class="full-width-img" alt="gallery1">
                    </div>
                </div>
            </span>

            <span class="masonry-item">
                <a href="#" class="gallery-thumb-link" data-modal-link="gallery-9">
                    <img src="img/gallery/gallery-9-thumb.jpg" alt="">
                </a>

                <div class="modal-window" data-modal="gallery-9">
                    <div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
                        <span class="close-btn icon icon-office-52"></span>

                        <h5 class="heading-alt">Gallery image 9</h5>
                        <br />

                        <img src="img/gallery/gallery-9.jpg" class="full-width-img" alt="gallery1">
                    </div>
                </div>
            </span>
            <span class="masonry-item">
                <a href="#" class="gallery-thumb-link" data-modal-link="gallery-10">
                    <img src="img/gallery/gallery-10-thumb.jpg" alt="">
                </a>

                <div class="modal-window" data-modal="gallery-10">
                    <div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
                        <span class="close-btn icon icon-office-52"></span>

                        <h5 class="heading-alt">Gallery image 10</h5>
                        <br />

                        <img src="img/gallery/gallery-10.jpg" class="full-width-img" alt="gallery1">
                    </div>
                </div>
            </span>

            <span class="masonry-item">
                <a href="#" class="gallery-thumb-link" data-modal-link="gallery-11">
                    <img src="img/gallery/gallery-11-thumb.jpg" alt="">
                </a>

                <div class="modal-window" data-modal="gallery-11">
                    <div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
                        <span class="close-btn icon icon-office-52"></span>

                        <h5 class="heading-alt">Gallery image 11</h5>
                        <br />

                        <img src="img/gallery/gallery-11.jpg" class="full-width-img" alt="gallery1">
                    </div>
                </div>
            </span>

            <span class="masonry-item">
                <a href="#" class="gallery-thumb-link" data-modal-link="gallery-12">
                    <img src="img/gallery/gallery-12-thumb.jpg" alt="">
                </a>

                <div class="modal-window" data-modal="gallery-12">
                    <div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
                        <span class="close-btn icon icon-office-52"></span>

                        <h5 class="heading-alt">Gallery image 12</h5>
                        <br />

                        <img src="img/gallery/gallery-12.jpg" class="full-width-img" alt="gallery1">
                    </div>
                </div>
            </span>

            <span class="masonry-item">
                <a href="#" class="gallery-thumb-link" data-modal-link="gallery-1">
                    <img src="img/gallery/gallery-13-thumb.jpg" alt="">
                </a>

                <div class="modal-window" data-modal="gallery-1">
                    <div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
                        <span class="close-btn icon icon-office-52"></span>

                        <h5 class="heading-alt">Gallery image 1</h5>
                        <br />

                        <img src="img/gallery/gallery-13.jpg" class="full-width-img" alt="gallery1">
                    </div>
                </div>
            </span>
        </div>

    </div>
</section>